<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" >
<![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10" >
<![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" >
<!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Ruta UNOi{% endblock %}</title>
        <meta name="description" content="Plataforma de autoevaluación de UNO Internacional">
        <meta name="author" content="UNO Internacional">
        <link rel="shortcut icon" href="{{ asset('public/assets/images/login/faviconUnoi.ico') }}" type="image/x-icon" />
        {% block stylesheets %}
            <!-- Stylesheets -->
            <!-- Bootstrap is included in its original form, unaltered -->
            <link rel="stylesheet" href="https://staticmx.unoi.com/global/css/bootstrap.min.css">
            <!-- Related styles of various icon packs and plugins -->
            <link rel="stylesheet" href="https://staticmx.unoi.com/global/css/plugins.css">
            <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
            <link rel="stylesheet" href="https://staticmx.unoi.com/global/css/main.css">
            <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
            <link rel="stylesheet" href="https://staticmx.unoi.com/global/css/themes/modern.css">
            <script src="https://staticmx.unoi.com/global/js/vendor/modernizr-respond.min.js"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset('public/assets/css/bootstrap-tour.min.css') }}">
            <!-- END Stylesheets -->

            <link rel="stylesheet" href="{{ asset('public/assets/css/bootstrap-tour.min.css') }}">

        {% endblock %}
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="icon" type="image/x-icon" href="{{ asset('public/assets/images/login/faviconUnoi.ico') }}" />
        <!-- END Icons -->

        <style>
            /*loading page*/
            .loading{
                top: 1px;
                margin: 0 auto;
                position: absolute;
                z-index: 1000;
                width: 100%;
                text-align: center;
                position: absolute;
                display: block;

                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.55);
                z-index: 9999;
                color: white;
            }
        </style>
    </head>
    <body class="page-loading">

    <div id="page-wrapper">

        <div id="page-container" class="header-fixed-top sidebar-mini sidebar-visible-lg-mini sidebar-no-animations ">
            <div class="loading" id="loading">
                <button class="btn btn-lg btn-primary">
                    <i class="fa fa-refresh fa-spin"></i>
                    Cargando, por favor espere...
                </button>
            </div>
            <!-- Alternative Sidebar -->
            <div id="sidebar">
                <!-- Wrapper for scrolling functionality -->
                <div id="sidebar-scroll">
                    <!-- Sidebar Content -->
                    <div class="sidebar-content">

                    </div>
                    <!-- END Sidebar Content -->
                </div>
                <!-- END Wrapper for scrolling functionality -->
            </div>
            <!-- END Alternative Sidebar -->

            <!-- Main Sidebar -->
            <div id="sidebar">
                <!-- Wrapper for scrolling functionality -->
                <div id="sidebar-scroll">
                    <!-- Sidebar Content -->
                    <div class="sidebar-content">
                        <!-- Brand -->

                        <a id="sidebar-trigger" href="{{ path('login') }}" class="sidebar-brand" style="height: 100px;">
                            <img src="{{ asset('public/assets/images/login/logoUno.png') }}" alt="avatar" style="width: 60%; margin-left: 20%; margin-top: 5px;">
                        </a>
                        <!-- END Brand -->

                        <!-- Sidebar Navigation -->
                        <ul class="sidebar-nav">
                            <div id="privilege"></div>
                        </ul>
                        <!-- END Sidebar Navigation -->
                    </div>
                    <!-- END Sidebar Content -->
                </div>
                <!-- END Wrapper for scrolling functionality -->
            </div>
            <!-- END Main Sidebar -->

            <!-- Main Container -->
            <div id="main-container">
                <!-- Try also inverse style -->
                <header class="navbar navbar-default navbar-fixed-top">
                    <!-- Left Header Navigation -->
                    <ul class="nav navbar-nav-custom">
                        <!-- Main Sidebar Toggle Button -->
                        <li>
                            <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');this.blur();">
                                <i class="fa fa-bars fa-fw"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- END Left Header Navigation -->

                    <!-- Search Form
                    <form action="page_ready_search_results.html" method="post" class="navbar-form-custom" role="search">
                        <div class="form-group">
                            <input type="text" id="top-search" name="top-search" class="form-control" placeholder="Buscar..">
                        </div>
                    </form>
                    END Search Form -->

                    <!-- Right Header Navigation -->
                    <ul class="nav navbar-nav-custom pull-right" style="width: 50%;">

                        <!-- User Dropdown -->
                        <li id="listusuario" class="dropdown" style="width: 100%;">
                            <a id="panel-usuario" href="javascript:void(0)" class="dropdown-toggle pull-right" data-toggle="dropdown">
                                {{ app.session.get('nameS') }}
                                <img src="{{ asset('public/assets/images/login/icon_niño1.png') }}" alt="avatar"> <i class="fa fa-angle-down"></i>
                                <!-- <img src="https://staticmx.unoi.com/global/logos/gris_fondoblanco_sin.png" alt="avatar"> <i class="fa fa-angle-down"></i>-->
                            </a>
                            <!-- Span para posicionar tour de modo que no tape el contenido del dropdown-->
                            <span id="separator-usuario" href="javascript:void(0)" class="dropdown-toggle pull-right" style="width: 100px;">
                                <p>{{ " " }}</p>
                            </span>
                            <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                                <li id="profile-header" class="dropdown-header text-center">
                                    Perfil
                                </li>
                                <li id="profile">
                                </li>
                                <li class="text-center">
                                    <a href="#" class="btn btn-sm btn-primary" onclick="updateProfile('{{ app.session.get('personIdS') }}')"> <i class="fa fa-refresh fa-spin pull-right" aria-hidden="true"></i> Actualizar perfil</a>
                                </li>
                                <li class="dropdown-header text-center">
                                    {% if app.session.get('mailing') == 1 %}
                                        <i id="currentMailing" class="fa fa-check-circle text-success"></i>
                                    {% else %}
                                        <i id="currentMailing" class="fa fa-times-circle text-danger"></i>
                                    {% endif %} {{ " Mensajes via mail" }}
                                </li>
                                <li class="text-left">
                                    {% if app.session.get('mailing') == 1 %}
                                        <a href="#" id="{{ app.session.get('personIdS') }}" class="disable-notif btn btn-xs btn-danger" style="display: block; width: 85px;"> Inactivar</a>
                                    {% else %}
                                        <a href="#" id="{{ app.session.get('personIdS') }}" class="enable-notif btn btn-xs btn-success" style="display: block; width: 85px;"> Activar</a>
                                    {% endif %}
                                </li>
                                <li class="dropdown-header text-center">
                                    <i class="fa fa-rocket"></i>{{ " Tour" }}
                                </li>
                                <li class="text-center">
                                    <a href="#" id="tour-trigger" class="btn btn-xs btn-success" style="display: block; width: 85px;"> Iniciar tour</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="" data-toggle="modal" data-target="#aboutM"><i class="fa fa-plus-circle pull-right" style="opacity: 0.8;"></i> Acerca del Sistema</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ path('logout') }}"><i class="fa fa-sign-out pull-right" style="opacity: 0.8;"></i> Cerrar sesión</a>
                                </li>
                            </ul>
                        </li>
                        <!-- END User Dropdown -->
                    </ul>
                    <!-- END Right Header Navigation -->
                </header>
                <!-- END Header -->

                <!-- Page content -->
                <div id="page-content">
                    {% block body %}
                        <!-- Own content from views -->
                    {% endblock %}
                </div>
                <!-- END Page Content -->

                <!-- Footer -->
                <footer class="clearfix">
                    <div style="text-align: center">
                        Hecho con <i class="fa fa-heart text-danger"></i> por
                        <br>
                        <a href="https://mx.unoi.com" target="_blank">Sistema UNO Internacional</a>
                        <hr>
                        Circuito Interior Rio Mixcoac, 274
                        <br>Acacias, Benito Juárez
                        <br>Distrito Federal.
                    </div>
                </footer>
                <!-- END Footer -->
            </div>
            <!-- END Main Container -->
        </div>
        <!-- END Page Container -->
    </div>
    <!-- END Page Wrapper -->

    <!-- Modal About -->
    <div id="aboutM" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: 0px; background: #4689dc; color: #FFFFFF;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" style="background: #4689dc; color: #FFFFFF;">
                    <div class="row">
                        <div class="col-md-5 text-center">
                            <img src="{{ asset('public/assets/images/login/logoUno.png') }}" alt="avatar" style="width: 50%;">
                        </div>
                        <div class="col-md-7">
                            <table>
                                <tr>
                                    <td style="text-align: left">
                                        <h2>Plataforma de Diagnóstico Institucional <span id="version"></span></h2>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sx-12">
                            <hr/>
                            <div>
                                <h3 class="text-center"><b>Lo nuevo en esta versión</b></h3>
                                <table id="nuevo"></table>
                            </div>
                            <!-- Interactive Block -->
                            <div class="block" style="background: #dae8f2;">
                                <!-- Interactive Title -->
                                <div class="block-title text-info">
                                    <!-- Interactive block controls (initialized in js/app.js -> interactiveBlocks()) -->
                                    <div class="block-options pull-right">
                                        <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-primary active" data-toggle="block-toggle-content"><i class="fa fa-arrows-v"></i></a>
                                    </div>
                                    <h2><i class="fa fa-info-circle"></i> <strong>Versiones Anteriores</strong></h2>
                                </div>
                                <!-- END Interactive Title -->

                                <!-- Interactive Content -->
                                <!-- The content you will put inside div.block-content, will be toggled -->
                                <div class="block-content alert alert-info alert-dismissable text-justify" style="display: none; background-color: #dae8f2; border-color: #dae8f2;">
                                    <!-- Info Alert Content -->
                                    <div class="last"></div>
                                </div>
                                <!-- END Interactive Content -->
                            </div>
                            <!-- END Interactive Block -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal About -->


    <!-- Modal loading -->
    <div id="loading" class="modal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-body bg-primary text-center">
                    <h4 class="modal-title"><i class="fa fa-refresh fa-spin"></i> Cargando, <strong>por favor espere...</strong></h4>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal loading -->


    <!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
    <a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>

    {% block javascripts %}

        <script>

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-43331375-13', 'auto');
        ga('send', 'pageview');
        </script>
        <script src="https://staticmx.unoi.com/global/js/pages/index.js"></script>
        <script src="https://staticmx.unoi.com/global/js/vendor/jquery-1.11.3.min.js"></script>
        <script src="https://staticmx.unoi.com/global/js/vendor/bootstrap.min.js"></script>
        <script src="https://staticmx.unoi.com/global/js/plugins.js"></script>
        <script src="https://staticmx.unoi.com/global/js/app.js"></script>
        <script src="https://staticmx.unoi.com/global/js/vendor/modernizr-respond.min.js"></script>
        <script src="https://staticmx.unoi.com/global/js/vendor/modernizr-respond.min.js"></script>
        <script src="{{ asset('public/assets/js/bootstrap-tour.min.js') }}"></script>
        <script src="{{ asset('public/assets/js/notificationStatus.js') }}"></script>
        <script src="{{ asset('public/assets/js/bootstrap-tour.min.js')}}"></script>
        <script src="{{ asset('public/assets/js/tour.js')}}"></script>
        <script src="{{ asset('public/assets/js/base.js')}}"></script>
        <script src="{{ asset('public/assets/js/tourStatus.js')}}"></script>

        <script>

            //-- Load and execute javascript code used only in this page
            $(window).load(function() {
                $('#loading').slideUp('fast');
            });

            //--- obtiene los Json de session
            $(document).ready(function() {

                parseInfo('{{ app.session.get('privilegeS') | raw }}', '{{ app.session.get('profileS') | raw }}');
                var versionArray = $.parseJSON('{{ app.session.get('versionS') | raw }}');
                $('#version').append(versionArray[0].version);
                var actualV = '';
                var anteriorV = '';
                var i = 0;
                var months = ['Enero','Febrero','Marzo','Abril','Maoy','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];
                $.each(versionArray, function(i, versions) {
                    if(i != 0) {
                        var d = new Date(versions.releaseDate.date)
                        anteriorV += '<div class="text-right"><h3>Version: '+versions.version+'</h3>' +
                                '<h4>Fecha: '+d.getDate()  + "/" + months[d.getMonth()] + "/" + d.getFullYear() +'</h4></div>' +
                                '<table>';
                    }
                    $.each(versions.nuevo, function (j, item) {
                        if(i == 0) {
                            actualV += "<tr>" +
                                    "<th width='25%' style='vertical-align: top;'><i class='fa fa-check-circle-o'></i> " + item.title + ": </th>" +
                                    "<td width='5%'> </td>"+
                                    "<td style='padding-bottom: 2%'>" + item.description + "</td>" +
                                    "</tr>"+
                                    "<tr><td></td></tr>";
                        }else{

                            anteriorV += "<tr>" +
                                    "<th width='25%' style='vertical-align: top;'><i class='fa fa-check-circle-o'></i> " + item.title + ": </th>" +
                                    "<td width='5%'> </td>"+
                                    "<td style='padding-bottom: 2%'>" + item.description + "</td>" +
                                    "</tr>"+
                                    "<tr><td></td></tr>";
                        }
                    });
                    i++;
                    if(i != 0) {
                        anteriorV += '</table>';
                    }
                });

                $('#nuevo').append(actualV);
                $('.last').html(anteriorV);
            });
            //--- Evento para mostar el video de Bienvenida al sistema
            function showVideo(){
                $('#videoWellcome').modal();
            }
            //solicitud para actualizar perfil
            function updateProfile(personId){
                $.ajax({
                    type: "GET",
                    url: "http://dev.ruta.unoi.com/app_dev.php/api/v0/profile/"+personId,
                    success: function (result) {
                        console.log(result);
                    }
                });
            }
        </script>
            <script>$(function(){ NotifStatus.init('/mailing/setstatus'); });</script>
            <script>$(function(){

                    var tourEnabled = '{{ app.session.get('tourEnabled') }}';
                    var name = '{{ app.session.get('nameS') }}';

                    var steps = [
                        {
                            path: "/inicio",
                            animation: "true",
                            element: "#page-content",
                            title: "<i class='fa fa-bell'></i> ¡Hola, "+name+"!",
                            content: "Te damos la bienvenida a tu Plataforma de Diagnóstico Institucional, regálanos un minuto para explicarte brevemente lo sencillo que es utilizarla",
                            placement: "top",
                            backdrop: true
                        },
                        {
                            animation: "true",
                            element: "#menuInicio",
                            title: "<i class='fa fa-bars'></i> Menú de opciones",
                            content: "Estas son todas las secciones que puedes visitar en tu Plataforma de Diagnóstico Institucional",
                            placement: "top",
                            backdrop: true
                        },
                        {
                            animation: "true",
                            element: "#sidebar-trigger",
                            title: "<i class='fa fa-bars'></i> Lista de opciones",
                            content: "De igual manera, también puedes ver tus opciones aquí",
                            placement: "right",
                            backdrop: false,
                            onShow: function(tour){

                                App.sidebar('toggle-sidebar');
                            }
                        },
                        {
                            animation: "true",
                            element: "#separator-usuario",
                            title: "<i class='fa fa-user'></i> Tu menú",
                            content: "Este es tu menu de usuario. Aquí podrás ver los perfiles del LMS con los que cuentas, opciones de tu cuenta, y ver información acerca del sistema.",
                            placement: "left",
                            backdrop: false,
                            onShown: function(tour){

                                $("#listusuario").attr("class","dropdown open");
                            }
                        },
                        {
                            animation: "true",
                            element: "#page-content",
                            title: "<i class='fa fa-pie-chart'></i> Panel de inicio",
                            content: "Este es tu panel de inicio. Aquí podrás ver las estadísticas más relevantes sobre tu proceso de diagnóstico.",
                            placement: "left",
                            backdrop: true
                        },
                        {
                            animation: "true",
                            element: "#ayuda-btn",
                            title: "<i class='fa fa-question-circle'></i> Centro de ayuda",
                            content: "Ahora puedes apoyarte de videotutoriales diseñados para ayudarte a utilizar esta plataforma.",
                            placement: "left",
                            backdrop: true,
                            onShown: function(tour){

                                TourStatus.init('/tour/setstatus','{{ app.session.get('personIdS') }}','0');
                            }
                        }
                    ];

                    TourInicio.init('/tour/setstatus','{{ app.session.get('personIdS') }}',steps,'{{ app.session.get('tourEnabled') }}');
                });
            </script>

    {% endblock %}

    </body>
</html>