<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" >
<![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10" >
<![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" >
<!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Ruta UNOi{% endblock %}</title>
        <meta name="description" content="Plataforma de autoevaluaci칩n de UNO Internacional">
        <meta name="author" content="UNO Internacional">
        <link rel="shortcut icon" href="{{ asset('public/assets/images/login/faviconUnoi.ico') }}" type="image/x-icon" />

        {% block stylesheets %}
            <!-- Stylesheets -->
            <!-- Bootstrap is included in its original form, unaltered -->
            <link rel="stylesheet" href="https://staticmx.unoi.com/global/css/bootstrap.min.css">
            <!-- Related styles of various icon packs and plugins -->
            <link rel="stylesheet" href="https://staticmx.unoi.com/global/css/plugins.css">
            <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
            <link rel="stylesheet" href="https://staticmx.unoi.com/global/css/main.css">
            <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
            <link rel="stylesheet" href="https://staticmx.unoi.com/global/css/themes/lake.css">
            <script src="https://staticmx.unoi.com/global/js/vendor/modernizr-respond.min.js"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
            <!-- END Stylesheets -->
        {% endblock %}
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="icon" type="image/x-icon" href="{{ asset('public/assets/images/login/faviconUnoi.ico') }}" />
        <!-- END Icons -->
    </head>
    <body>
    <div id="page-wrapper">
        <div class="preloader themed-background">
            <div class="inner">
                <h3 class="text-light visible-lt-ie9 visible-lt-ie10"><strong>Cargando..</strong></h3>
                <div class="preloader-spinner hidden-lt-ie9 hidden-lt-ie10"></div>
            </div>
        </div>

        <div id="page-container" class="header-fixed-top sidebar-mini sidebar-visible-lg-mini sidebar-no-animations ">
            <!-- Alternative Sidebar -->
            <div id="sidebar">
                <!-- Wrapper for scrolling functionality -->
                <div id="sidebar-scroll">
                    <!-- Sidebar Content -->
                    <div class="sidebar-content">

                    </div>
                    <!-- END Sidebar Content -->
                </div>
                <!-- END Wrapper for scrolling functionality -->
            </div>
            <!-- END Alternative Sidebar -->

            <!-- Main Sidebar -->
            <div id="sidebar">
                <!-- Wrapper for scrolling functionality -->
                <div id="sidebar-scroll">
                    <!-- Sidebar Content -->
                    <div class="sidebar-content">
                        <!-- Brand -->

                        <a href="" class="sidebar-brand" style="height: 100px;">
                            <img src="{{ asset('public/assets/images/login/logoUno.png') }}" alt="avatar" style="width: 60%; margin-left: 20%; margin-top: 5px;">
                        </a>
                        <!-- END Brand -->

                        <!-- Sidebar Navigation -->
                        <ul class="sidebar-nav">
                            <li>
                                <a href="{{ path('listar') }}"><i class="fa fa-list-ol sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Mis evaluaciones</span></a>
                            </li>
                        </ul>
                        <!-- END Sidebar Navigation -->
                    </div>
                    <!-- END Sidebar Content -->
                </div>
                <!-- END Wrapper for scrolling functionality -->
            </div>
            <!-- END Main Sidebar -->

            <!-- Main Container -->
            <div id="main-container">
                <!-- Try also inverse style -->
                <header class="navbar navbar-default navbar-fixed-top">
                    <!-- Left Header Navigation -->
                    <ul class="nav navbar-nav-custom">
                        <!-- Main Sidebar Toggle Button -->
                        <li>
                            <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');this.blur();">
                                <i class="fa fa-bars fa-fw"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- END Left Header Navigation -->

                    <!-- Search Form
                    <form action="page_ready_search_results.html" method="post" class="navbar-form-custom" role="search">
                        <div class="form-group">
                            <input type="text" id="top-search" name="top-search" class="form-control" placeholder="Buscar..">
                        </div>
                    </form>
                    END Search Form -->

                    <!-- Right Header Navigation -->
                    <ul class="nav navbar-nav-custom pull-right" style="width: 50%;">

                        <!-- User Dropdown -->
                        <li class="dropdown" style="width: 100%;">

                            <a href="javascript:void(0)" class="dropdown-toggle pull-right" data-toggle="dropdown">
                                {{ app.session.get('nameS') }}
                                <img src="{{ asset('public/assets/images/login/icon_ni침o1.png') }}" alt="avatar"> <i class="fa fa-angle-down"></i>
                                <!-- <img src="https://staticmx.unoi.com/global/logos/gris_fondoblanco_sin.png" alt="avatar"> <i class="fa fa-angle-down"></i>-->
                            </a>
                            <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                                <li class="dropdown-header text-center">Cuenta</li>
                                <li>
                                    <a href="{{ path('logout') }}"><i class="fa fa-sign-out pull-right" style="opacity: 0.8;"></i> Cerrar sesi칩n</a>
                                </li>
                            </ul>
                        </li>
                        <!-- END User Dropdown -->
                    </ul>
                    <!-- END Right Header Navigation -->
                </header>
                <!-- END Header -->

                <!-- Page content -->
                <div id="page-content">
                    {% block body %}
                        <!-- Own content from views -->
                    {% endblock %}
                </div>
                <!-- END Page Content -->

                <!-- Footer -->
                <footer class="clearfix">
                    <div style="text-align: center">
                        Hecho con <i class="fa fa-heart text-danger"></i> por
                        <br>
                        <a href="https://mx.unoi.com" target="_blank">Sistema UNO Internacional</a>
                        <hr>
                        Circuito Interior Rio Mixcoac, 274
                        <br>Acacias, Benito Ju치rez
                        <br>Distrito Federal.
                    </div>
                </footer>
                <!-- END Footer -->
            </div>
            <!-- END Main Container -->
        </div>
        <!-- END Page Container -->
    </div>
    <!-- END Page Wrapper -->

    <!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
    <a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>

    {% block javascripts %}
        <script src="https://staticmx.unoi.com/global/js/pages/index.js"></script>
        <script src="https://staticmx.unoi.com/global/js/vendor/jquery-1.11.3.min.js"></script>
        <script src="https://staticmx.unoi.com/global/js/vendor/bootstrap.min.js"></script>
        <script src="https://staticmx.unoi.com/global/js/plugins.js"></script>
        <script src="https://staticmx.unoi.com/global/js/app.js"></script>
        <script src="https://staticmx.unoi.com/global/js/vendor/modernizr-respond.min.js"></script>
    {% endblock %}
    </body>
</html>