{% extends '::base.html.twig' %}
{% block body %}
    <div id="page-content">
        <div class="content-header">
            <div class="header-section">
                <h1>
                    <i class="fa fa-list-ul" style="color: #CCC;"></i><b>Evaluaciones</b><br><small><em>Última actualización: {{ "now"|date("j/M/Y \@ g:i a") }}</em></small>
                </h1>
            </div>
        </div>
        <div id="block-resumen" class="block">
            <div class="block-title themed-background">
                <div class="block-options pull-right">
                    <a href="javascript:void(0)" class="btn btn-info btn-sm btn-primary" data-toggle="block-toggle-content"><i class="fa fa-arrows-v"></i></a>
                </div>
                <h2 style="color: #ffffff;"><strong>Resumen</strong></h2>
            </div>
            <div class="row">
                <div class="block-content">
                    <div class="col-sm-12">
                        <div id="pie-general" class="block"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="block-evals" class="block">
            <div class="block-title themed-background">
                <h2 style="color: #ffffff;" ><strong>Evaluaciones creadas</strong></h2>
                <div class="block-options pull-right">
                    <a href="{{ path('crear') }}" class="label label-success animation-pulse" data-toggle="block-toggle-content"><i class="fa fa-plus-circle"></i> Crear evaluación</a>
                </div>
            </div>
            <div id="cont-respuestas" class="block-content">
                <div class="table-responsive">
                    <table id="tbl-datatable" class="table table-vcenter table-condensed table-bordered">
                        <thead>
                        <tr>
                            <th class="hidden-sm hidden-xs">Id</th>
                            <th>Evaluación</th>
                            <th>Asignada</th>
                            <th>Avance</th>
                            <th class="hidden-sm hidden-xs">Creada el</th>
                            <th class="hidden-sm hidden-xs">Finaliza el</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for survey in surveylist %}
                            <tr>
                                <td class="text-center hidden-sm hidden-xs">
                                    {% if survey['active'] %}
                                        <span class="label label-success" >{{ survey['id'] }}</span>
                                    {% else %}
                                        <span class="label label-danger" >{{ survey['id'] }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <b>{{ survey['title'] }}</b>
                                </td>
                                <td>
                                    {% for profile in survey['profiles'] %}
                                        <i class="fa fa-user"></i> {{ profile }}<br>
                                    {% endfor %}
                                </td>
                                <td class="text-center">
                                    {% if survey['progress'] <= 33.33 %}
                                    <span class="text-danger"><b>{{ survey['progress']~'%' }}</b></span>
                                    {% elseif survey['progress'] > 33.33 and survey['progress'] < 100 %}
                                        <span class="text-warning"><b>{{ survey['progress']~'%' }}</b></span>
                                    {% elseif survey['progress'] == 100 %}
                                        <span class="text-success"><b>{{ survey['progress']~'%' }}</b></span>
                                    {% endif %}
                                </td>
                                <td class="hidden-sm hidden-xs">
                                    {{ survey['created'] }}
                                </td>
                                <td class="hidden-sm hidden-xs">
                                    {{ survey['closingdate'] }}
                                </td>
                                <td class="text-center">
                                    <div class="btn-group btn-group-xs">
                                        {% if survey['active'] %}
                                        <a href="#" id="{{ survey['id'] }}" class="disable-survey label label-danger " style="display: block;" data-toggle="modal" data-target="#disable_confirm" data-placement="top"><i class="fa fa-times"></i> Inactivar</a>
                                        {% else %}
                                        <a href="#" id="{{ survey['id'] }}" class="enable-survey label label-success " style="display: block;" data-toggle="modal" data-target="#disable_confirm" data-placement="top"><i class="fa fa-check"></i> Activar</a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
        </div>
    </div>

    <div id="disable_confirm" class="modal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-info-circle"></i> Cambiar estatus de evaluación</h4>
                </div>
                <div class="modal-body">
                    <p><b>Para confirmar el cambio de estatus de esta evaluación, presiona Aceptar</b></p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Cancelar</a>
                    <a href="#" id="confInactivar" class="btn btn-success success">Aceptar</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/data.js"></script>
    <script src="http://code.highcharts.com/modules/drilldown.js"></script>
    <script src="{{ asset('public/assets/js/resumen.js') }}"></script>
    <script src="{{ asset('public/assets/js/menu_crear_charts.js') }}"></script>
    <script src="{{ asset('public/assets/js/surveystatus.js') }}"></script>
    <script>$(function(){ TablesDatatables.init(); });</script>
    <script>$(function(){ Charts.init('{{ stats_general|json_encode()|raw }}'); });</script>
    <script>$(function(){ SurveyStatus.init('{{ url('ajaxSurveyStatus') }}','{{ url('evaluaciones') }}'); });</script>

{% endblock %}