{% extends 'base.html.twig' %}
{% block body %}

    <div class="content-header content-header-media">
        <div class="header-section" style="height: 185px;">
            <h1>
                <i class="fa fa-bookmark-o" onclick="showVideo();"></i>
                Bienvenid@, <strong>{{ app.session.get('nameS') }}</strong>
                <br/><small>a la Plataforma de Evaluaciones UNOi</small>
            </h1>
        </div>
        <!-- For best results use an image with a resolution of 2560x248 pixels (You can also use a blurred image with ratio 10:1 - eg: 1000x100 pixels - it will adjust and look great!) -->
        <img src="{{ asset('public/assets/images/listar/camino2.png') }}" alt="header image" class="animation-pulseSlow" style="height: 180px; width: auto;">
    </div>
    <!-- END Dashboard Header -->

    <!-- Dashboard Header -->
    <div class="content-header">
        <ul class="nav-horizontal text-center">
            <div id="menuInicio"></div>
        </ul>
    </div>
    <!-- END Dashboard Header -->

    <!-- Form Example with Blocks in the Grid -->
    <div class="row">
        <div class="col-sm-6">
            <!-- Block -->
            <div class="block">
                <!-- Title -->
                <div class="block-title">
                    <h2>Noticias.</h2>
                </div>
                <div class="widget-extra-full text-center">
                    <img src="http://mx.unoi.com/wp-content/uploads/2015/10/BID-Talento.jpg" width="70%">
                    <h3>Cuatro claves para entender de dónde viene el talento</h3>
                    <small><em>23 octubre, 2015</em></small>
                    <br/>
                    <p>Recientemente, se ha reabierto el debate sobre si el talento sobresaliente es una característica fija e innata de una persona o si se puede desarrollar a lo largo de la vida y con apoyo de los sistemas educativos. Veamos a continuación algunas claves para resolver esta interrogante.</p>
                </div>
            </div>
            <!-- END Block -->
        </div>
        <div class="col-sm-6">
            <!-- Video -->
            <div class="block">
                <!-- Title -->
                <div class="block-title">
                    <h2>{{ titleAvance }}</h2>
                </div>
                <div class="widget-extra-full text-center">
                    <div class="pie-chart" data-percent="{{ avance | raw }}" data-size="90" data-bar-color="#e67e22">
                        <span>{{ avance | raw }}%</span>
                    </div>
                    <br/>
                </div>
            </div>
            <!-- END Video -->
        </div>

    </div>
    <!-- END Form Example with Blocks in the Grid -->


    <!-- Modal Video -->
    <div id="videoWellcome" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-commenting"></i> Bienvenid@ <strong>{{ app.session.get('nameS') }}</strong></h4>
                </div>
                <div class="modal-body">
                    <h1>aqui podria ir un video....</h1>
                    <!-- <iframe id="player" style="width:90%; height:235px; margin: 5% 5%" src="https://www.youtube.com/embed/LYkudoUb51E" frameborder="0" allowfullscreen></iframe> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal Video -->

    <script src="{{ asset('public/assets/js/jquery-1.11.3.min.js') }}"></script>
{% endblock %}


