{% extends 'base.html.twig' %}
{% block body %}

    <style>
        .widget .widget-icon{
            background: #46b7bf;
        }

        .widget .widget-extra {
            background: #4b89dc;
        }

        #slider output {
            display: initial;
        }

        input[type=range] {
            -webkit-appearance: none;
            margin: 0 0;
            width: 100%;
        }
        input[type=range]:focus {
            outline: none;
        }
        input[type=range]::-webkit-slider-runnable-track {
            width: 100%;
            height: 5px;
            cursor: pointer;
            animate: 0.2s;
            box-shadow: 0px 0px 0px #000000;
            background: #2497E3;
            border-radius: 1px;
            border: 0px solid #000000;
        }
        input[type=range]::-webkit-slider-thumb {
            box-shadow: 0px 0px 0px #000000;
            border: 1px solid #2497E3;
            height: 18px;
            width: 18px;
            border-radius: 25px;
            background: #A1D0FF;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -7px;
        }
        input[type=range]:focus::-webkit-slider-runnable-track {
            background: #2497E3;
        }
        input[type=range]::-moz-range-track {
            width: 100%;
            height: 5px;
            cursor: pointer;
            animate: 0.2s;
            box-shadow: 0px 0px 0px #000000;
            background: #2497E3;
            border-radius: 1px;
            border: 0px solid #000000;
        }
        input[type=range]::-moz-range-thumb {
            box-shadow: 0px 0px 0px #000000;
            border: 1px solid #2497E3;
            height: 18px;
            width: 18px;
            border-radius: 25px;
            background: #A1D0FF;
            cursor: pointer;
        }
        input[type=range]::-ms-track {
            width: 100%;
            height: 5px;
            cursor: pointer;
            animate: 0.2s;
            background: transparent;
            border-color: transparent;
            color: transparent;
        }
        input[type=range]::-ms-fill-lower {
            background: #2497E3;
            border: 0px solid #000000;
            border-radius: 2px;
            box-shadow: 0px 0px 0px #000000;
        }
        input[type=range]::-ms-fill-upper {
            background: #2497E3;
            border: 0px solid #000000;
            border-radius: 2px;
            box-shadow: 0px 0px 0px #000000;
        }
        input[type=range]::-ms-thumb {
            box-shadow: 0px 0px 0px #000000;
            border: 1px solid #2497E3;
            height: 18px;
            width: 18px;
            border-radius: 25px;
            background: #A1D0FF;
            cursor: pointer;
        }
        input[type=range]:focus::-ms-fill-lower {
            background: #2497E3;
        }
        input[type=range]:focus::-ms-fill-upper {
            background: #2497E3;
        }
    </style>

    <div class="content-header content-header-media">
        <div class="header-section" style="height: 185px; background: rgba(0, 0, 0, 0.45)">
            <h1>
                Bienvenid@, <strong>{{ app.session.get('nameS') }}</strong>
                <br/><small>a la Plataforma de Diagnóstico Institucional de UNO Internacional</small>
            </h1>
        </div>
        <!-- For best results use an image with a resolution of 2560x248 pixels (You can also use a blurred image with ratio 10:1 - eg: 1000x100 pixels - it will adjust and look great!) -->
        <img src="{{ asset('public/assets/images/login/bann_diag.jpg') }}" alt="header image" class="animation-pulseSlow" style="height: 180px;">
    </div>
    <!-- END Dashboard Header -->

    <!-- Dashboard Header -->
    <div class="content-header">
        <ul class="nav-horizontal text-center">
            <div id="menuInicio"></div>
        </ul>
    </div>
    <!-- END Dashboard Header -->
    {% if colegios != null and coaches != null and personas != null%}
    <!-- Simple Stats Widgets Row -->
    <div class="row">
        <div class="col-md-6">
            <!-- Widget -->
            <div class="widget">
                <div class="widget-extra text-center themed-background-dark-night">
                    <h3 class="widget-content-light"><i class="fa fa-arrow-up animation-floating"></i> Estadisticas <strong>Generales</strong></h3>
                </div>
                <div class="widget-simple">
                    <div class="row text-center">
                        <div class="col-xs-6">
                            <a href="javascript:void(0)" class="widget-icon themed-background-spring">
                                <i class="fa fa-university"></i>
                            </a>
                            <h3 class="remove-margin-bottom"> <strong>{{ colegios| raw }}</strong><br><small><b>Colegios</b> registrados</small></h3>
                        </div>
                        <div class="col-xs-6">
                            <a href="javascript:void(0)" class="widget-icon themed-background-fire">
                                <i class="fa fa-graduation-cap"></i>
                            </a>
                            <h3 class="remove-margin-bottom"> <strong>{{ coaches[0]['cuenta']| raw }}</strong><br><small><b>Coaches</b> registrados</small></h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Widget -->
        </div>
        <div class="col-md-6">
            <!-- Widget -->
            <div class="widget">
                <div class="widget-extra text-center themed-background-dark-night">
                    <h3 class="widget-content-light"><i class="fa fa-arrow-up animation-floating"></i> Estadisticas de <strong>Usuarios</strong></h3>
                </div>
                <div class="widget-simple">
                    <div class="row text-center">
                        <div class="col-xs-4">
                            <a href="javascript:void(0)" class="widget-icon themed-background-fire">
                                <i class="fa fa-users"></i>
                            </a>
                            <h3 class="remove-margin-bottom"> <strong>{{ personas['total']| raw }}</strong><br><small><b>Registrados</b></small></h3>
                        </div>
                        <div class="col-xs-4">
                            <a href="javascript:void(0)" class="widget-icon themed-background-spring">
                                <i class="fa fa-user-plus"></i>
                            </a>
                            <h3 class="remove-margin-bottom"> <strong>{{ personas['answered']| raw }}</strong><br><small><b>Han atendido</b> evaluaciones</small></h3>
                        </div>
                        <div class="col-xs-4">
                            <a href="javascript:void(0)" class="widget-icon themed-background-spring">
                                <i class="fa fa-user-times"></i>
                            </a>
                            <h3 class="remove-margin-bottom"> <strong>{{ personas['pending']| raw }}</strong><br><small><b>Sin atender</b> evaluaciones</small></h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Widget -->
        </div>
    </div>
    <!-- END Simple Stats Widgets Row -->
    {% endif %}

    <!-- Form Example with Blocks in the Grid -->
    <div class="row">
        {% if colegio != null %}
        <div class="col-sm-6">
            <a href="javascript:void(0)" class="widget widget-hover-effect4">
                <div class="widget-extra text-center themed-background-dark-autumn">
                    <h3 class="widget-content-light">Nivel de avance en mi <strong>Colegio</strong></h3>
                </div>
                <div class="widget-extra-full text-center">
                    <div class="pie-chart easyPieChart" data-percent="{{ colegio| raw }}" data-size="90" data-bar-color="#e67e22" style="width: 90px; height: 90px; line-height: 90px;">
                        <span style="color: #0b0b0b">{{ colegio| raw }}%</span>
                        <canvas width="90" height="90"></canvas>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}

        {% if personal != null %}
            <div class="col-sm-6">
                <a href="javascript:void(0)" class="widget widget-hover-effect4">
                    <div class="widget-extra text-center themed-background-dark-autumn">
                        <h3 class="widget-content-light">Nivel personal de <strong>Progreso</strong></h3>
                    </div>
                    <div class="widget-extra-full text-center">
                        <div class="pie-chart easyPieChart" data-percent="{{ personal['global']['Stats'][0]["y"]| raw }}" data-size="90" data-bar-color="#e67e22" style="width: 90px; height: 90px; line-height: 90px;">
                            <span style="color: #0b0b0b">{{ personal['global']['Stats'][0]["y"]| raw }}%</span>
                            <canvas width="90" height="90"></canvas>
                        </div>
                    </div>
                </a>
            </div>
        {% endif %}

        {% if observationsByCoach != null %}
            <div class="col-sm-6">
                <!-- Your Plan Widget -->
                <div class="widget">
                    <div class="widget-extra themed-background-dark">
                        <h3 class="widget-content-light">
                            Observaci&oacute;n del <strong>Trabajo en el Aula</strong>
                        </h3>
                    </div>
                    <div class="block full">
                        <div class="row">
                            <div class="table-responsive">
                                <table id="obList-datatable" class="table table-vcenter table-condensed table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Docente</th>
                                        <th class="text-center">Clase</th>
                                        <th class="text-center">Fecha de Creaci&oacute;n</th>
                                        <th class="text-center">Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for listObservation in observationsByCoach %}
                                        <tr>
                                            <td class="text-center">{{ listObservation.name }}</td>
                                            <td class="text-center">{{ listObservation.grado }} {{ listObservation.groupId }} <strong>{{ listObservation.nivelCompleto }}</strong> {{ listObservation.nameProgram }} {{ listObservation.school | title}}</td>
                                            {% set limitDate = listObservation.start.date | date_modify("+7 day") | date() %}
                                            {% set difference = date( "now" | date() ).diff(date(limitDate)) %}
                                            {% set leftDays = difference.days %}
                                            {% set leftHours = difference.h %}

                                            {% if listObservation.finish is null %}
                                                <td class="text-center">{{ listObservation.start.date | date('j/M/Y \@ g:i a') }} <i class="fa fa-clock-o" aria-hidden="true" data-toggle="tooltip" title="pendiente"></i></td>

                                            {% else %}
                                                <td class="text-center">{{ listObservation.start.date | date('j/M/Y \@ g:i a') }} <i class="fa fa-check-circle" aria-hidden="true" data-toggle="tooltip" title="finalizada"></i></td>
                                            {% endif %}
                                            <td class="text-center">
                                                <div class="btn-group">
                                                    <a href="javascript:void(0)" onclick="window.location.href = uri+'/observacion/crear/{{ listObservation.observationId }}';" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>

    <!-- Form Example with Blocks in the Grid -->
    <div class="row" id="Coaches">
        <div class="col-sm-12">
            <div class="widget">
                <div class="widget-extra text-center themed-background-dark-autumn">
                    <h3 class="widget-content-light">Coaches <strong>UNOi</strong></h3>
                </div>
                <div class="widget-extra-full ">
                    <div style="padding: 11px 10px 19px;">
                        <span style="color: #777777;"><i class="fa fa-info-circle text-primary" aria-hidden="true"></i> <em>En esta sección puedes Filtrar por zona y Seleccionar un rango de fechas para saber cuantos coaches han ingresado en esa cantidad de tiempo.</em></span>
                    </div>

                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="optionZone" class="col-sm-1 control-label">Zonas:</label>
                            <div class="col-sm-5">
                                <select id="optionZone" class="form-control">

                                </select>
                            </div>

                            <div id="slider" class="col-sm-6">

                                <div class="form-group">
                                    <fieldset class="col-sm-2 control-label">
                                        <label for="amount-mobile">Dias </label>
                                        <output id="rangevalue" >7</output>
                                    </fieldset>


                                    <div class="col-sm-9">
                                        <input type="text" id="slider-hor" name="slider-hor" class="form-control input-slider" data-slider-min="1" data-slider-max="30" data-slider-step="1" data-slider-value="7" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" onchange="sendRange($('#slider-hor').slider('getValue'));">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="table-responsive">
                        <div id="coachesTable"></div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- END Form Example with Blocks in the Grid -->
    <!-- Modal Video -->
    <div id="videoWellcome" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-commenting"></i> Bienvenid@ <strong>{{ app.session.get('nameS') }}</strong></h4>
                </div>
                <div class="modal-body">
                    <h1>aqui podria ir un video....</h1>
                    <!-- <iframe id="player" style="width:90%; height:235px; margin: 5% 5%" src="https://www.youtube.com/embed/LYkudoUb51E" frameborder="0" allowfullscreen></iframe> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal Video -->

    <script src="{{ asset('public/assets/js/jquery-1.11.3.min.js') }}"></script>
    <script>$(function(){ DTObCoach.init(); });</script>
    <script>
        //dominio http://dev.ruta.unoi.com
        var HttpHost = '{{ app.request.getSchemeAndHttpHost() }}';
        //si es /app_dev.php
        var baseUrl = '{{ app.request.baseurl }}';

        var uri = HttpHost+baseUrl;
        var filter = '';
        var Admin = false;
        var profileArray = $.parseJSON('{{ app.session.get('profileS') | raw }}');

        $('#Coaches').hide();
        $.each(profileArray, function(i, item) {
            if(profileArray[i].profileid === 1){
                Admin = true;
            }
        });


        $( document ).ready(function() {
            if(Admin){
                $('#Coaches').show();
                getZone();
                filter = "/api/v0/statsCoaches";
                getStatsCoaches(filter);
            }


        });

        function getZone(){
            $.getJSON( uri+"/api/v0/statsCoaches/zoneCoaches")
                    .done(function(json) {
                        var option = '<option>Todas</option>';
                        $.each(json, function( index, value ) {
                            option += "<option>" + value +"</option>";
                        });

                        $('#optionZone').append(option);
                    })
                    .fail(function(error) {
                        console.log( "error: "+error );
                    })
                    .always(function() {

                    });
        }

        function getStatsCoaches(filter) {
            $.getJSON(uri + filter)
                    .done(function (json) {
                        var row =
                                '<table id="datatableC" class="table table-vcenter table-condensed table-bordered" style="width: 100%">'+
                                    '<thead>'+
                                        '<tr>'+
                                            '<th></th>'+
                                            '<th>Coach</th>'+
                                            '<th>Zona</th>'+
                                            '<th>Coordinador</th>'+
                                            '<th>Ultimo Ingreso</th>'+
                                            '<th>Plataforma</th>'+
                                            '<th>Navegador</th>'+
                                            '<th># de Sesiones</th>'+
                                        '</tr>'+
                                    '</thead>' +
                                    '<tbody>'+
                                        '<option>Todas</option>';
                        $.each(json, function (index, value) {
                            var d = value['lastLogin'].date.split(' ');

                            var dateArray = d[0].split("-");
                            var timeArray = d[1].split(":");

                            var monthNames = [
                                "Ene", "Feb", "Mar","Abr", "May", "Jun", "Jul","Ago", "Sep", "Oct", "Nov", "Dic"
                            ];

                            var date = new Date(dateArray[0],dateArray[1]-1,dateArray[2],timeArray[0],timeArray[1],timeArray[2]);
                            var day = date.getDate();
                            var monthIndex = date.getMonth();
                            var year = date.getFullYear();
                            var hours = date.getHours();
                            var minutes = date.getMinutes();

                            var ampm = hours >= 12 ? 'pm' : 'am';
                            hours = hours % 12;
                            hours = hours ? hours : 12; // the hour '0' should be '12'
                            minutes = minutes < 10 ? '0'+minutes : minutes;

                            var dateTime= day +'/'+ monthNames[monthIndex]+'/'+ year +' @ '+ hours +':'+ minutes+ ' ' + ampm;

                            row += "<tr><td class='text-center' style='width: 10%;'><img src='/public/assets/images/coaches/"+ value['img'] +"' class='img-circle' alt='avatar' style='width: 50%;'></td><td>" + value['coach'] + "</td><td>" + value['zona'] + "</td><td>" + value['coordinador'] + "</td><td>" + dateTime + "</td><td>" + value['platform'] + "</td><td>" + value['browser'] + "</td><td>" + value['numSession'] + "</td></tr>";
                        });
                        row += '</tbody>'+
                                '</table>';
                        $('#coachesTable').html(row);
                    })
                    .fail(function (error) {
                        console.log("error: " + error);
                    })
                    .always(function () {
                        TablesDatatables.init();
                    });
        }

        var TablesDatatables = function() {

            return {
                init: function() {
                    /* Initialize Bootstrap Datatables Integration */
                    App.datatables();

                    /* Initialize Datatables */
                    $('#datatableC').dataTable({
                        columnDefs: [ { orderable: false, targets: [ 0, 0 ] } ],
                        pageLength: 10,
                        lengthMenu: [[10, 20, 30, -1], [10, 20, 30, 'All']]
                    });

                    /* Add placeholder attribute to the search input */
                    $('.dataTables_filter input').attr('placeholder', 'Search');
                }
            };
        }();

        $('#optionZone').change(function () {
            var optionZone = $('#optionZone').val();

            if(optionZone === 'Todas'){
                filter = "/api/v0/statsCoaches";
            }else{
                filter = "/api/v0/statsCoaches/zone/"+optionZone;
            }

            getStatsCoaches(filter);
        });

        function sendRange(val){
            var optionZone = $('#optionZone').val();
            rangevalue.value=val;

            if(optionZone === 'Todas'){
                filter = "/api/v0/statsCoaches/day/"+val;
            }else{
                filter = "/api/v0/statsCoaches/zoneDay/"+optionZone+"/"+val;
            }
            getStatsCoaches(filter);
        }


        var DTObCoach = function() {

            return {
                init: function() {
                    /* Initialize Bootstrap Datatables Integration */
                    App.datatables();

                    /* Initialize Datatables */
                    $('#obList-datatable').dataTable({
                        columnDefs: [ { orderable: false, targets: [ 0, 3 ] } ],
                        pageLength: 4,
                        lengthMenu: [1,2,3,4]
                    });

                    /* Add placeholder attribute to the search input */
                    $('.dataTables_filter input').attr('placeholder', 'Buscar');
                }
            };
        }();
    </script>
{% endblock %}