{% extends 'base.html.twig' %}
{% block body %}

    <style>
        .widget .widget-icon{
            background: #46b7bf;
        }

        .widget .widget-extra {
            background: #4b89dc;
        }
    </style>
    <div class="content-header content-header-media">
        <div class="header-section" style="height: 185px;">
            <h1>
                <i class="fa fa-bookmark-o" onclick="showVideo();"></i>
                Bienvenid@, <strong>{{ app.session.get('nameS') }}</strong>
                <br/><small>a la Plataforma de Diagnóstico Institucional de UNO Internacional</small>
            </h1>
        </div>
        <!-- For best results use an image with a resolution of 2560x248 pixels (You can also use a blurred image with ratio 10:1 - eg: 1000x100 pixels - it will adjust and look great!) -->
        <img src="{{ asset('public/assets/images/listar/camino2.png') }}" alt="header image" class="animation-pulseSlow" style="height: 180px; width: auto;">
    </div>
    <!-- END Dashboard Header -->

    <!-- Dashboard Header -->
    <div class="content-header">
        <ul class="nav-horizontal text-center">
            <div id="menuInicio"></div>
        </ul>
    </div>
    <!-- END Dashboard Header -->
    {% if colegios != null and coaches != null and personas != null%}
    <!-- Simple Stats Widgets Row -->
    <div class="row">

        <div class="col-md-6">
            <!-- Widget -->
            <div class="widget">
                <div class="widget-extra text-center themed-background-dark-night">
                    <h3 class="widget-content-light"><i class="fa fa-arrow-up animation-floating"></i> Estadisticas <strong>Generales</strong></h3>
                </div>
                <div class="widget-simple">
                    <div class="row text-center">
                        <div class="col-xs-6">
                            <a href="javascript:void(0)" class="widget-icon themed-background-spring">
                                <i class="fa fa-university"></i>
                            </a>
                            <h3 class="remove-margin-bottom"> <strong>{{ colegios| raw }}</strong><br><small>Colegios registrados en la plataforma</small></h3>
                        </div>
                        <div class="col-xs-6">
                            <a href="javascript:void(0)" class="widget-icon themed-background-fire">
                                <i class="fa fa-graduation-cap"></i>
                            </a>
                            <h3 class="remove-margin-bottom"> <strong>{{ coaches[0]['cuenta']| raw }}</strong><br><small>Coaches registrados en el sistema</small></h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Widget -->
        </div>
        <div class="col-md-6">
            <!-- Widget -->
            <div class="widget">
                <div class="widget-extra text-center themed-background-dark-night">
                    <h3 class="widget-content-light"><i class="fa fa-arrow-up animation-floating"></i> Estadisticas de <strong>Usuarios</strong></h3>
                </div>
                <div class="widget-simple">
                    <div class="row text-center">
                        <div class="col-xs-4">
                            <a href="javascript:void(0)" class="widget-icon themed-background-fire">
                                <i class="fa fa-users"></i>
                            </a>
                            <h3 class="remove-margin-bottom"> <strong>{{ personas['total']| raw }}</strong><br><small>Personas registradas en la plataforma</small></h3>
                        </div>
                        <div class="col-xs-4">
                            <a href="javascript:void(0)" class="widget-icon themed-background-spring">
                                <i class="fa fa-user-plus"></i>
                            </a>
                            <h3 class="remove-margin-bottom"> <strong>{{ personas['answered']| raw }}</strong><br><small>Personas que han atendido alguna evaluación</small></h3>
                        </div>
                        <div class="col-xs-4">
                            <a href="javascript:void(0)" class="widget-icon themed-background-spring">
                                <i class="fa fa-user-times"></i>
                            </a>
                            <h3 class="remove-margin-bottom"> <strong>{{ personas['pending']| raw }}</strong><br><small>Personas que no han atendido alguna evaluación</small></h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Widget -->
        </div>
    </div>
    <!-- END Simple Stats Widgets Row -->
    {% endif %}

    <!-- Form Example with Blocks in the Grid -->
    <div class="row">
        {% if colegio != null %}
        <div class="col-sm-6">
            <a href="javascript:void(0)" class="widget widget-hover-effect4">
                <div class="widget-extra text-center themed-background-dark-autumn">
                    <h3 class="widget-content-light">Nivel de avance en mi <strong>Colegio</strong></h3>
                </div>
                <div class="widget-extra-full text-center">
                    <div class="pie-chart easyPieChart" data-percent="{{ colegio| raw }}" data-size="90" data-bar-color="#e67e22" style="width: 90px; height: 90px; line-height: 90px;">
                        <span style="color: #0b0b0b">{{ colegio| raw }}%</span>
                        <canvas width="90" height="90"></canvas>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}

        {% if personal != null %}
        <div class="col-sm-6">
            <a href="javascript:void(0)" class="widget widget-hover-effect4">
                <div class="widget-extra text-center themed-background-dark-autumn">
                    <h3 class="widget-content-light">Nivel personal de <strong>Progreso</strong></h3>
                </div>
                <div class="widget-extra-full text-center">
                    <div class="pie-chart easyPieChart" data-percent="{{ personal['global']['Stats'][0]["y"]| raw }}" data-size="90" data-bar-color="#e67e22" style="width: 90px; height: 90px; line-height: 90px;">
                        <span style="color: #0b0b0b">{{ personal['global']['Stats'][0]["y"]| raw }}%</span>
                        <canvas width="90" height="90"></canvas>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}

    </div>


    <!-- END Form Example with Blocks in the Grid -->
    <!-- Modal Video -->
    <div id="videoWellcome" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-commenting"></i> Bienvenid@ <strong>{{ app.session.get('nameS') }}</strong></h4>
                </div>
                <div class="modal-body">
                    <h1>aqui podria ir un video....</h1>
                    <!-- <iframe id="player" style="width:90%; height:235px; margin: 5% 5%" src="https://www.youtube.com/embed/LYkudoUb51E" frameborder="0" allowfullscreen></iframe> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal Video -->

    <script src="{{ asset('public/assets/js/jquery-1.11.3.min.js') }}"></script>

{% endblock %}