{% extends 'base.html.twig' %}
{% block body %}
    <div class="content-header content-header-media">
        <div class="header-section" style="height: 185px;">
            <div class="row">
                <div id ="welcome-title" class="col-md-4 col-lg-6 hidden-xs">
                    <h1>Bienvenido, <strong>{{ app.session.get('nameS') }}</strong><br></h1>
                    <br>
                </div>
                <!-- Main Title (hidden on small devices for the statistics to fit) -->
                <div id ="welcome-title-2" class="col-md-4 col-lg-6" style="text-align: center;">
                    <h1>Bienvenido, <strong>{{ app.session.get('nameS') }}</strong><br></h1>
                    <br>
                </div>
                <!-- END Main Title -->
                <!-- Top Stats -->
                <div class="col-md-8 col-lg-6">
                    <div class="row text-center">
                        <div class="col-xs-4 col-sm-3">
                            <h2 class="animation-hatch">
                                <strong>{{ stats['answered']}}</strong><br>
                                <i class="fa fa-check-circle"></i><br>
                                <small class="hidden-xs">Completado</small>
                            </h2>
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <h2 class="animation-hatch">
                                <strong>{{ stats['toBeAnswered']}}</strong><br>
                                <i class="fa fa-exclamation-circle"></i><br>
                                <small class="hidden-xs">Pendiente</small>
                            </h2>
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <h2 class="animation-hatch">
                                <strong>{{ stats['compliance']}}</strong><br>
                                <strong>%</strong><br>
                                <small class="hidden-xs">Avance</small>
                            </h2>

                        </div>
                    </div>
                </div>
                <!-- END Top Stats -->
            </div>
        </div>
        <!-- For best results use an image with a resolution of 2560x248 pixels (You can also use a blurred image with ratio 10:1 - eg: 1000x100 pixels - it will adjust and look great!) -->
        <img src="{{ asset('public/assets/images/listar/camino2.png') }}" alt="header image" class="animation-pulseSlow" style="height: 180px; width: auto;">

    </div>
    <!-- END Dashboard Header -->

    <!-- Mini Top Stats Row -->
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <!-- Widget -->
            <div class="widget widget-hover-effect1">
                <div class="widget-simple">
                    <div class="widget-icon pull-left themed-background animation-fadeIn">
                        <i class="fa fa-pencil"></i>
                    </div>
                    <h3 class="widget-content text-left animation-pullDown">
                        Mis <strong>Evaluaciones</strong><br>
                    </h3>
                    {% if surveyList|length == 0 %}
                    <h3 class="widget-content text-center animation-pullDown">
                        Actualmente no tienes evaluaciones por responder<br>
                    </h3>
                    {% endif %}
                </div>
                {% if surveyList|length > 0 %}
                <div class="table-responsive">
                    <table class="table table-vcenter table-striped">
                        <thead>
                        <tr>
                            <th>Evaluación </th>
                            <th class="hidden-sm hidden-xs">Fecha Límite</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for survey in surveyList %}
                            <tr>
                                <td>
                                    {% if survey['actioncode']  == '0' %}
                                        <i class="fa fa-exclamation-circle text-danger" data-toggle="tooltip" title="Aun no has respondido o completado esta evaluación"></i>
                                    {% elseif  survey['actioncode']  == '004' %}
                                        <i class="fa fa-check-circle text-success" data-toggle="tooltip" title="Ya completaste esta evaluación, puedes ver su resumen"></i>
                                    {% endif %}
                                    <strong>{{ survey['title'] }}</strong>
                                </td>
                                <td class="hidden-sm hidden-xs">{{ survey['closingdate']|date('j/M/Y \@ g:i a') }}</td>
                                <td class="text-center">
                                    <div class="btn-group btn-group-xs">
                                        {% if survey['actioncode']  == '0' %}
                                                <a href="{{ path('responder',{'id': survey['surveyid']}) }}" data-toggle="tooltip" title="Responde esta evaluación" class="btn btn-xs btn-success" style="width: 85px;">Responder</a>
                                        {% else %}
                                                <a href="{{ path('resumen',{'surveyId': survey['surveyid']}) }}"  data-toggle="tooltip" title="Ver resumen de tus respuestas" class="btn btn-xs btn-info" style="width: 85px;">Resumen</a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
                <br>
            </div>
            <!-- END Widget -->
        </div>
    </div>
    <script src="{{ asset('public/assets/js/jquery-1.11.3.min.js') }}"></script>
    <script src="{{ asset('public/assets/js/jquery-migrate-1.2.1.min.js') }}"></script>
    <script>
        jQuery(document).ready(function() {

            manage_mobile_welcome();
            $(window).resize(function() {

                manage_mobile_welcome();
            });

            function manage_mobile_welcome() {

                if ($('#welcome-title').css('display') == 'none') {

                    $('#welcome-title-2').show();

                } else {

                    $('#welcome-title-2').hide();
                }
            }
        });
    </script>
{% endblock %}