{% extends '::base.html.twig' %}
{% block body %}

    <div id="page-content">
        <div class="content-header">
            <div class="header-section">
                <h1>
                    <i class="fa fa-list-ol" style="color: #CCC;"></i><b>{{ survey.title }}</b><br><small><em>Respondida el {{ date|date("j/M/Y \@ g:i a") }}</em></small>
                </h1>
            </div>
        </div>

        <div id="block-resumen" class="block">
            <div class="block-title">
                <div class="block-options pull-right">
                    <a href="javascript:void(0)" class="btn btn-info btn-sm btn-primary" data-toggle="block-toggle-content"><i class="fa fa-arrows-v"></i></a>
                </div>
                <h2><strong>Resumen</strong></h2>
            </div>
            <div class="row">
                <div class="block-content">
                    <div class="col-sm-6">
                        <div id="pie"></div>
                    </div>
                </div>
                <div class="block-content">
                    <div class="col-sm-6">
                        <div id="bars"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id = "block-tareas" class="block">
            <div class="block-title">
                <h2><strong>Tareas</strong> a realizar</h2>
            </div>

            {% for key, task in tasks %}
                    <table id="tbl-tareas-{{ key }}" class="table table-vcenter table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    {{ key }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for subtask in task %}
                                <tr>
                                    <td>
                                        {{ subtask['question'] }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            {% endfor %}
        </div>

        <div id="block-respuestas" class="block">
            <div class="block-title text-center">
                <div class="block-options pull-right">
                    <a href="javascript:void(0)" class="btn btn-info btn-sm btn-primary" data-toggle="block-toggle-content"><i class="fa fa-arrows-v"></i></a>
                </div>
                <h2>Ver mis <strong>Respuestas</strong></h2>
            </div>

            <div id="cont-respuestas" class="block-content">
                <small class="visible-xs"><i class="fa fa-info-circle text-primary"></i> Puedes navegar horizontalmente para ver los demás campos</small>
                <div class="table-responsive">
                    <table id="tbl-datatable" class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="hidden-sm hidden-xs"><b>#</b></th>
                            <th class="text-center">
                                <b>Pregunta</b>
                            </th>
                            <th class="text-center">
                                <span class="visible-lg-inline visible-md-inline visible-sm-inline hidden-xs"><b>Respuesta</b></span>
                                <span class="visible-xs-inline"><b><i class="fa fa-pencil-square-o"></i></b></span>
                            </th>
                            <th class="text-center">
                                <span class="visible-lg-inline visible-md-inline visible-sm-inline hidden-xs"><b>Comentario</b></span>
                                <span class="visible-xs-inline"><b><i class="fa fa-commenting-o"></i></b></span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for result in survey.questions %}
                            <tr>
                                <td class="hidden-sm hidden-xs text-center">
                                    {{ result['orderQ'] }}
                                </td>
                                <td class="text-left">
                                    {{ result['question'] }}
                                </td>
                                <td class="text-center answer-{{ result['orderQ'] }}" onclick="pop('answer-{{ result['orderQ'] }}')">
                                    {{ result['answers'][0]['answer'] }}
                                </td>
                                <td class="text-left">
                                    {{ result['answers'][0]['comment'] }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Popover hidden tittle -->
    <div id="popover-tittle" style="display: none">
        <div class="header text-center" ><h4>Editar Respuesta</h4></div>
    </div>


    {% for result in survey.questions %}
        <!-- Popover hidden content -->
        <div id="answer-{{ result['orderQ'] }}" style="display: none">
            Respuesta
            <select class="form-control">
                <option selected value="Sí">Sí</option>
                <option value="No">No</option>
                <option value="No sé">No sé</option>
            </select>
            <br/>
            Comentario
            <input type="text" class="form-control"/>

            <input type="hidden" id="idsurvey" value="{{ result['orderQ'] }}"/>
            <br/>
            <div class="form-group form-actions">
                <button type="submit" class="btn btn-sm btn-primary" onclick="updateAnswer('answer-{{ result['orderQ'] }}')"> Aceptar</button>
            </div>

        </div>
    {% endfor %}

    <style>
        .popover-title {
            background: #f7f7f7;
        }
    </style>

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="{{ asset('public/assets/js/resumen.js') }}"></script>
    <script src="{{ asset('public/assets/js/resumen_charts.js') }}"></script>
    <script>$(function(){ TablesDatatables.init(); });</script>
    <script>$(function(){ Charts.init('{{ pie_stats|json_encode()|raw }}','{{ bars_stats|json_encode()|raw }}');});</script>

    <script>
        $(function() {

        });

        function pop(id){
            $("."+id).popover({
                placement: "top",
                title: function () {
                    return $('#popover-tittle').html();
                },
                html: true,
                content: function () {
                    return $('#'+id).html();
                }
            });
        }

        function updateAnswer(id){
            console.log(id);
        }

    </script>
{% endblock %}