{% extends '::base.html.twig' %}
{% block body %}

    <div id="page-content">
        <div class="content-header">
            <div class="header-section">
                <h1>
                    <i class="fa fa-list-ol" style="color: #CCC;"></i><strong>{{ survey.title }}</strong><br><small><em>Respondida el {{ date|date("j/M/Y \@ g:i a") }}</em></small>
                </h1>
            </div>
        </div>

        <div id="block-tareas" class="block full">
            <div class="block-title text-center">
                <div class="block-options pull-right">
                    <a href="javascript:void(0)" class="btn btn-info btn-sm btn-primary" data-toggle="block-toggle-content"><i class="fa fa-arrows-v"></i></a>
                </div>
                <h2><strong>Tareas</strong> a realizar</h2>
            </div>

            <div id="cont-tareas" class="block-content">

                <div style="padding: 11px 10px 19px;">
                    <!-- <span style="color: #777777;"><i class="fa fa-info-circle text-primary" aria-hidden="true"></i> <em>Da doble clic sobre una respuesta para editarla.</em></span> -->
                </div>

                <small class="visible-xs"><i class="fa fa-info-circle text-primary"></i> Puedes navegar horizontalmente para ver los demás campos</small>

                <div id="table-tareas">
                </div>

            </div>
        </div>

        <div id="block-resumen" class="block">
            <div class="block-title">
                <div class="block-options pull-right">
                    <a href="javascript:void(0)" class="btn btn-info btn-sm btn-primary" data-toggle="block-toggle-content"><i class="fa fa-arrows-v"></i></a>
                </div>
                <h2><strong>Resumen</strong></h2>
            </div>
            <div class="row">
                <div class="block-content">
                    <div class="col-sm-6">
                        <div id="pie"></div>
                    </div>
                </div>
                <div class="block-content">
                    <div class="col-sm-6">
                        <div id="bars"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="block-resumen" class="block full">
            <div class="block-title text-center">
                <div class="block-options pull-right">
                    <a href="javascript:void(0)" class="btn btn-info btn-sm btn-primary" data-toggle="block-toggle-content"><i class="fa fa-arrows-v"></i></a>
                </div>
                <h2>Ver mis <strong>respuestas</strong> </h2>
            </div>

            <div id="cont-resumen" class="block-content">
                <div style="padding: 11px 10px 19px;">
                    <span style="color: #777777;"><i class="fa fa-info-circle text-primary" aria-hidden="true"></i> <em>Da doble clic sobre una respuesta para editarla.</em></span>
                </div>
                <small class="visible-xs"><i class="fa fa-info-circle text-primary"></i> Puedes navegar horizontalmente para ver los demás campos</small>
                <div id="table-resumen">

                </div>
            </div>
        </div>

    </div>


    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="{{ asset('public/assets/js/resumen.js') }}"></script>
    <script src="{{ asset('public/assets/js/resumen_charts.js') }}"></script>

    <script>
        var baseUrl = "{{  app.request.baseurl }}";
        var uri= "{{  app.request.uri }}";
        var surveyId = getSurveyId(uri);
        var personId = "{{ app.session.get('personIdS') | raw}}";

        $(function() {
            getResume(surveyId, personId);
        });

    </script>
{% endblock %}