{% extends '::base.html.twig' %}
{% block body %}

    <style>
        .fa-eye:hover {
            color: #328287;
        }
        .fa-eye {
            color: #46B7BF;
        }
    </style>
    <div id="page-content">

        <div class="content-header">
            <div class="header-section">
                <h1>
                    <i class="fa fa-line-chart"></i><b>Estad&iacute;sticas</b>
                    <small>{% if nameSchool is defined %}<br/><span class="label label-primary">{{ nameSchool }}</span>{% endif %}</small>
                    <small>{% if surveyName is defined %}<br/><span class="label label-primary">{{ surveyName }}</span>{% endif %}</small>
                </h1>
            </div>
        </div>


            <div class="block">
                <div class="block-title">
                    <h2>Filtro</h2>
                </div>
                <div class="row">
                    <div class="block-content">

                        <form id="schoolFrm" action="/estadisticas" method="POST">
                        {% if schoolId is defined %}

                            {% if app.session.get('schoolFilter') != '0-General' and app.session.get('schoolFilter') != '' %}
                                <!-- Success Alert Content -->
                                <div class="alert alert-success alert-dismissable col-sm-6">
                                    <button id="closeSchool" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h4><i class="fa fa-university"></i> <strong>{{ app.session.get('schoolFilter') }}</strong></h4>
                                </div>
                                <!-- END Success Alert Content -->
                            {% endif %}

                            <div id="divSchool" class="col-sm-6" >
                                <strong>Escuela</strong>
                                <input type="text" id="schooIdFrm" name="schooIdFrm" class="form-control input-typeaheadSchool" autocomplete="off" placeholder="Busca Escuelas..">
                            </div>
                        {% endif %}

                            {% if surveyName != 'Todas las Evaluaciones' %}
                                <!-- Success Alert Content -->
                                <div id="divAlertSurvey" class="col-sm-6">
                                    <div class="alert alert-info alert-dismissable">
                                        <button id="closeSurvey" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        <h4><i class="fa fa-pencil-square-o"></i> <strong>{{ surveyName }}</strong></h4>
                                    </div>
                                </div>
                                <!-- END Success Alert Content -->
                            {% endif %}

                            <div id="divSurvey" class="col-sm-6">
                                <strong>Evaluacion</strong>
                                <input type="text" id="surveyIdFrm" name="surveyIdFrm" class="form-control input-typeaheadSurvey" autocomplete="off" placeholder="Busca Evaluacion..">
                            </div>

                            <input type="text" id="clearSearch" name="clearSearch" style="visibility: hidden"/>

                            <div class="col-sm-12 text-center form-group form-actions">
                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                <button type="button" class="btn btn-sm btn-primary" onclick="resetFilter()"><i class="fa fa-search"></i> Avance Global</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>



        <div id="block-resumen" class="block">
            <div class="block-title">
                <div class="block-options pull-right">
                    <a href="javascript:void(0)" class="btn btn-info btn-sm btn-primary" data-toggle="block-toggle-content"><i class="fa fa-arrows-v"></i></a>
                </div>
                <h2>Gr&aacute;ficas de Avance <strong>{{ nameSchool }}</strong></h2>
            </div>
            {% if jsonTotalResponsePie is not empty %}
                <div class="row">
                    <div class="block-content">
                        <div class="col-sm-6">
                            <div id="pie" class="block">
                                <div id="container"></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-content">
                        <div class="col-sm-6">
                            <div id="bars" class="block">
                                <div id="containerColumn"></div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="block-content">
                        <div class="col-sm-12 text-center">
                            <div class="block">
                                <h1>No han realizado ninguna Evaluación !!!</h1>
                                <div class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <h2 class="text-center"><span class="fa fa-bed fa-2x"></span></h2>
                                        </div>
                                        <div class="item">
                                            <h2 class="text-center"><span class="fa fa-thumbs-down fa-2x"></span></h2>
                                        </div>
                                        <div class="item">
                                            <h2 class="text-center"><span class="fa fa-hourglass-end fa-2x"></span></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

        {% if userList is not empty %}
        <div id="block-resumenT" class="block">
            <div class="block-title">
                <div class="block-options pull-right">
                    <a href="javascript:void(0)" class="btn btn-info btn-sm btn-primary" data-toggle="block-toggle-content"><i class="fa fa-arrows-v"></i></a>
                </div>
                <h2>Tabla de Avance <strong>{{ nameSchool }}</strong></h2>
            </div>
            <div class="row">
                <div class="block-content">
                    <div class="col-sm-12">
                        <br/>
                        <small class="visible-xs"><i class="fa fa-info-circle text-primary"></i> Puedes navegar horizontalmente para ver las demás columnas</small>
                        <br/>
                        <div class="table-responsive">
                            {% if surveyName == 'Todas las Evaluaciones' %}
                            <p>Estad&iacute;sticas de usuarios que han realizado por lo menos una Evaluacion. <em>Da <b>click</b> sobre un usuario para ver su detalle</em></p>
                            {% else %}
                            <p>Estad&iacute;sticas de usuarios que han realizado esta Evaluacion. <em>Da <b>click</b> sobre un usuario para ver su detalle</em></p>
                            {% endif %}
                            <table id="userList-datatable" class="table table-vcenter table-condensed table-bordered">
                                <thead>
                                <tr>
                                    <th style="width: 150px;" class="text-center"><i class="fa fa-users"></i></th>
                                    <th>Nombre</th>
                                    {% if surveyName == 'Todas las Evaluaciones' %}
                                    <th style="width: 150px;" class="text-center">Progreso</th>
                                    {% endif %}
                                    <th class="text-center">Detalle</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for list in userList %}
                                    {% if list.avance != 0 %}
                                    <tr onclick="statsUser('{{ list.personId|e }}','{{ list.username|e }}',{{ list.avance }}, '{{ surveyName }}')" data-tooltip aria-haspopup="true"  data-options="disable_for_touch:true" class="has-tip" title="Haz click para ver el detalle de {{ list.username|e }}" style="cursor: pointer">
                                    {% else %}
                                        <tr>
                                    {% endif %}
                                    <td class="text-center">
                                        <img src="{{ asset('public/assets/images/login/icon_niño1.png') }}" alt="avatar" class="img-circle">
                                    </td>
                                    <td>
                                        {{ list.username|e }}
                                        {% if surveyName == 'Todas las Evaluaciones' %}
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{list.avance}}" aria-valuemin="0" aria-valuemax="100" style="width: {{ list.avance }}%;">
                                                {% if list.avance != 0 %} {{ list.avance }} % {% endif %}
                                            </div>
                                        </div>
                                        {% endif %}
                                    </td>
                                    {% if surveyName == 'Todas las Evaluaciones' %}
                                    <td class="text-center" {% if list.avance == 0 %} style="color: red;" {% endif %}>
                                        {{ list.progreso|e }}
                                    </td>
                                    {% endif %}
                                    <td class="text-center"><i class="fa fa-eye fa-2x" {% if list.avance == 0 %} style="color: #cdd0d7;" {% endif %}></i></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <!-- END Page Content -->

    <!-- Modal Stats User -->
    <div id="statsUser" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-rebel"></i> Estad&iacute;sticas por <strong>Usuario</strong></h4>
                </div>
                <div class="modal-body">
                    <span id="bodyStatsUser"></span>

                    <div id="block-resumenG" class="block">
                        <div class="block-title">
                            <h2>Gr&aacute;ficas de <strong>Avance</strong></h2>
                        </div>
                        <div class="row">
                            <div class="block-content ">

                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <div class="block">
                                        <div id="containerPieLU" ></div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-content ">
                                <div class="col-sm-12  col-md-6 col-lg-6">
                                    <div class="block">
                                        <div id="containerColumnLU"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="surveyUser">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal Stats User -->

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Load and execute javascript code used only in this page -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="{{ asset('public/assets/js/stats.js')}}"></script>
    <script src="{{ asset('public/assets/js/statsGraph.js')}}"></script>
    <script src="{{ asset('public/assets/js/validateSchool.js') }}"></script>
    <!-- <script src="{{ asset('public/assets/js/validateSurvey.js') }}"></script>-->
    <script type="text/javascript">
        $(function () {

            {% if jsonTotalResponsePie is not empty %}
            //genera las graficas de informacion general
            pieGrl({{ jsonTotalResponsePie | raw }}, '{{ nameSchool }}', '{{ surveyName }}');
            columnGrl({{ jsonTotalResponseColumn | raw }}, '{{ nameSchool }}', '{{ surveyName }}' );
            {% endif %}

            {% if app.session.get('schoolFilter') != '0-General' and app.session.get('schoolFilter') != '' %}
            $('#divSchool').hide();
            {% else %}
            $('#divSchool').show();
            {% endif %}

            {% if surveyName != 'Todas las Evaluaciones' %}
            $('#divSurvey').hide();
            {% else %}
            $('#divSurvey').show();
            {% endif %}

            {% if schoolId is defined %}
            // Initialize Typeahead - Example with countries
            // para el json de las escuelas

            var exampleTypeheadData = [{{ schoolId | raw}}];
            $('.input-typeaheadSchool').typeahead({ source: exampleTypeheadData });
            {% endif %}
            // para el json de las escuelas
            var surveyTypeheadData = {{ surveyId | raw}};
            $('.input-typeaheadSurvey').typeahead({ source: surveyTypeheadData });
            //valida la Escuela Filtrada Admin
            ValidateSchool.init(exampleTypeheadData, surveyTypeheadData);


            $('#schooIdFrm').change(function () {
                var value = $('#schooIdFrm').val();
                console.log(value);
                if(validaSchool (value, exampleTypeheadData)){
                    $.post( "/ajax/searchEval", { schoolId: value })
                            .done(function( data ) {
                                if ( data.length != 0 ) {
                                    $('#surveyIdFrm').prop('disabled', false);
                                    $('.input-typeaheadSurvey').typeahead('destroy');
                                    $('.input-typeaheadSurvey').typeahead({ source: data });
                                    //valida la Escuela Filtrada Admin
                                    ValidateSchool.init(exampleTypeheadData, data);
                                }else{
                                    console.log("NO DATA!");
                                    $('#surveyIdFrm').prop('disabled', true);
                                }

                            });
                }else if(value == ''){
                    $('.input-typeaheadSurvey').typeahead('destroy');
                    $('.input-typeaheadSurvey').typeahead({ source: surveyTypeheadData });
                    //valida la Escuela Filtrada Admin
                    ValidateSchool.init(exampleTypeheadData, surveyTypeheadData);
                }
            });

            function validaSchool (value, exampleTypeheadData){
                if(exampleTypeheadData.indexOf(value) != -1){
                    return true
                }
                return false
            }


            $('#closeSchool').click(function(){
                $.post( "/ajax/searchEval", { schoolId: 'all' })
                        .done(function( data ) {
                            $('.input-typeaheadSurvey').typeahead('destroy');
                            $('.input-typeaheadSurvey').typeahead({ source: data });

                        });
                $('#clearSearch').val('1');
                $('#divAlertSurvey').hide();
                $('#divSurvey').show();
                $('#divSchool').show();

            });

            $('#closeSurvey').click(function(){
                $('#divSurvey').show();
            });

            //tabla con filtros y ordenamiento
            {% if surveyName != 'Todas las Evaluaciones' %}
            var col = 2;
            {% else %}
            var col = 3;
            {% endif %}
            TablesDatatables.init(col);

        });

        function resetFilter(){
            window.location.href = "/estadisticas?all=1";
        }
    </script>
{% endblock %}


