{% extends '::base.html.twig' %}
{% block body %}

    <div id="page-content">

        <div class="content-header">
            <div class="header-section">
                <h1>
                    {# app.request.getSchemeAndHttpHost() #}
                    {# app.request.basepath #}
                    {# app.request.baseurl #}
                    {# app.request.uri #}
                    <i class="fa fa-line-chart"></i><b>Estad&iacute;sticas</b>
                    <small><br/><span class="label label-primary"><span class="nameSchool"></span> </span></small>
                    <small><br/><span class="label label-primary"><span class="nameSurvey"></span> </span></small>
                </h1>
            </div>
        </div>

        <div class="block">
            <div class="block-title">
                <h2>Filtro</h2>
            </div>
            <div class="row">
                <div class="block-content">
                    <form id="schoolFrm">

                        <div id="divSurvey" class="col-sm-12">
                            <strong>Evaluación</strong>
                            <input type="text" id="surveyIdFrm" name="surveyIdFrm" class="form-control input-typeaheadSurvey" autocomplete="off" placeholder="Busca evaluación..">
                        </div>

                        <!-- Success Alert Content -->
                        <div id="divContentSurvey" class="col-sm-12" style="display: none">
                            <div class="alert alert-info alert-dismissable">
                                <button id="closeSurvey" type="button" class="close" >&times;</button>
                                <h4><i class="fa fa-pencil-square-o"></i> <strong><span class="nameSurvey"></span></strong></h4>
                            </div>
                        </div>
                        <!-- END Success Alert Content -->

                        <div id="errorBuscar" class="alert alert-danger col-sm-12 text-center" style="display: none">
                            <div id="mensajeSchool" style="display: none">
                                <h5><i class="fa fa-times"></i> Ingrese una <strong>Escuela Valida</strong></h5>
                            </div>
                            <div id="mensajeSurvey" style="display: none">
                                <h5><i class="fa fa-times"></i> Ingrese una <strong>Evaluación Valida</strong></h5>
                            </div>
                        </div>

                        <div class="col-sm-12 text-center form-group form-actions">
                            <button id="buscar" type="button" class="btn btn-sm btn-primary" onclick="findFilter();" disabled ><i class="fa fa-search"></i> Buscar</button>
                            <button id="todo" type="button" class="btn btn-sm btn-warning" onclick="resetFilter()" disabled ><i class="fa fa-repeat"></i> Avance Global</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="block-resumen" class="block">
            <div class="block-title">
                <div class="block-options pull-right">
                    <a href="javascript:void(0)" class="btn btn-info btn-sm btn-primary" data-toggle="block-toggle-content"><i class="fa fa-arrows-v"></i></a>
                </div>
                <h2>Gr&aacute;ficas de avance <strong><span class="nameSchool"></span></strong></h2>
            </div>

            <div id="withGraphs" class="row">
                <div class="block-content">
                    <div class="col-sm-6">
                        <div id="pie" class="block">
                            <div id="container">
                                <div class="text-center">
                                    <button class="btn btn-lg">
                                        <i class="fa fa-refresh fa-spin fa-3x"></i>
                                        <br/>
                                        Cargando, por favor espere...
                                    </button>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-content">
                    <div class="col-sm-6">
                        <div id="bars" class="block">
                            <div id="containerColumn">
                                <div class="text-center">
                                    <button class="btn btn-lg">
                                        <i class="fa fa-refresh fa-spin fa-3x"></i>
                                        <br/>
                                        Cargando, por favor espere...
                                    </button>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div id="withOutGraphs" class="row" style="display: none">
                <div class="block-content">
                    <div class="col-sm-12 text-center">
                        <div class="block">
                            <h1>No se ha realizado ninguna <strong>evaluación</strong>.</h1>
                            <div class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <h2 class="text-center"><span class="fa fa-bed fa-2x"></span></h2>
                                    </div>
                                    <div class="item">
                                        <h2 class="text-center"><span class="fa fa-thumbs-down fa-2x"></span></h2>
                                    </div>
                                    <div class="item">
                                        <h2 class="text-center"><span class="fa fa-hourglass-end fa-2x"></span></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="userList">

        </div>

        <div id="block-detalle" class="block" style="display: none">
            <div class="block-title">
                <div class="block-options pull-right">
                    <a href="javascript:void(0)" class="btn btn-info btn-sm btn-primary" data-toggle="block-toggle-content"><i class="fa fa-arrows-v"></i></a>
                </div>
                <h2>Detalle por Indicador <strong><span class="nameSchool"></span></strong></h2>
            </div>

            <div class="row">
                <div class="block-content">
                    <div class="block">
                        <div id="surveyDetalle">

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- END Page Content -->

    <!-- Modal Stats User -->
    <div id="statsUser" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-rebel"></i> Estad&iacute;sticas por <strong>usuario</strong></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <img src="{{ asset('public/assets/images/login/icon_niño1.png') }}" alt="avatar" class="img-circle">
                            <h1><span class="userName"></span></h1>
                            <div id="avanceUser"></div>
                            <small><em>Porcentaje de avance</em></small>
                            <hr>
                            <div id="selectSurveys" class="well"></div>
                        </div>
                    </div>


                    <span id="bodyStatsUser"></span>

                    <div id="block-resumenG" class="block">
                        <div class="block-title">
                            <h2>Gr&aacute;ficas de <strong>avance</strong></h2>
                        </div>
                        <div class="row">
                            <div class="block-content ">

                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <div class="block">
                                        <div id="containerPieLU" >
                                            <div class="text-center">
                                                <button class="btn btn-lg">
                                                    <i class="fa fa-refresh fa-spin fa-3x"></i>
                                                    <br/>
                                                    Cargando, por favor espere...
                                                </button>
                                                <br/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-content ">
                                <div class="col-sm-12  col-md-6 col-lg-6">
                                    <div class="block">
                                        <div id="containerColumnLU">
                                            <div class="text-center">
                                                <button class="btn btn-lg">
                                                    <i class="fa fa-refresh fa-spin fa-3x"></i>
                                                    <br/>
                                                    Cargando, por favor espere...
                                                </button>
                                                <br/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="surveyUser">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal Stats User -->

    <!-- Modal Stats DetalleSurvey -->
    <div id="detalleSurveyM" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-file-text" style="padding-right: 5px;"></i> <span class="titleModalDS"></span></h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-1">
                            <br/><br/>
                            <i id="left" class="fa fa-arrow-circle-left fa-2x hidden"></i>
                        </div>
                        <div class="col-sm-10">
                            <div class="bodyModalDS"></div>
                        </div>
                        <div class="col-sm-1">
                            <br/><br/>
                            <i id="right" class="fa fa-arrow-circle-right fa-2x hidden"></i>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal Stats User -->

    <div id="divContentDetalle" class="hidden">
    </div>

    <!-- Modal loading -->
    <div id="loadingStats" class="modal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-body bg-primary text-center">
                    <h4 class="modal-title"><i class="fa fa-refresh fa-spin"></i> Cargando, <strong>por favor espere...</strong></h4>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal loading -->

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Load and execute javascript code used only in this page -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="{{ asset('public/assets/js/validateSurvey.js') }}"></script>
    <script src="{{ asset('public/assets/js/statsGraph.js')}}"></script>
    <script>
        var schoolArrayG = [];
        var surveyListJS = {{ surveyList | raw }};
        var okSchool = true;
        var okSurvey = true;
        var nameSchool = '{{ nameSchool }}';
        var nameSchoolArray = nameSchool.split("-");
        var nameSurvey = 'Todas las Evaluaciones';

        var serverAllAPI = "http://dev.ruta.unoi.com{{ app.request.getBaseURL() }}/api/v0/stats/results";
        var serverSchoolSurveyAPI = "http://dev.ruta.unoi.com{{ app.request.getBaseURL() }}/api/v0/stats/results/survey/3/school/";
        var serverSchoolAPI = "http://dev.ruta.unoi.com{{ app.request.getBaseURL() }}/api/v0/stats/results/school/";
        var serverSurveyAPI = "http://dev.ruta.unoi.com{{ app.request.getBaseURL() }}/api/v0/stats/results/survey/";
        var serverPersonSurveyAPI = "http://dev.ruta.unoi.com{{ app.request.getBaseURL() }}/api/v0/stats/results/person/";
        var serverSurveyUserAPI = "http://dev.ruta.unoi.com{{ app.request.getBaseURL() }}/api/v0/result/survey/";

        $(function() {
            
            setNameSchool(nameSchool);
            setNameSurvey(nameSurvey);
            $('.input-typeaheadSurvey').typeahead({ source: surveyListJS });

            graphs(serverSchoolAPI+nameSchoolArray[0], nameSchool, nameSurvey);

            var mensajeSurvey = $('#mensajeSurvey');
            var errorBuscar = $('#errorBuscar');
            var buscar = $("#buscar");
            var surveyIdFrm = $('#surveyIdFrm');

            $('#surveyIdFrm').change(function() {
                if(surveyIdFrm.val() != ''){
                    if (surveyListJS.indexOf( surveyIdFrm.val() ) != -1) {
                        mensajeSurvey.hide();
                        okSurvey = true;
                        showErrorBuscar( okSurvey, surveyIdFrm);
                    }else{
                        errorBuscar.show('fast');
                        mensajeSurvey.show();
                        buscar.prop('disabled', true);
                        okSurvey = false;
                    }
                }else{
                    mensajeSurvey.hide();
                    okSurvey = true;
                    showErrorBuscar(okSurvey, surveyIdFrm);
                }
            });

        });



    </script>



{% endblock %}