{% extends '::base.html.twig' %}
{% block body %}
    <style>
        label > input{ /* HIDE RADIO */
            display:none;
        }
        label > input + img{ /* IMAGE STYLES */
            cursor:pointer;
            border:2px solid transparent;
        }
        label > input:checked + img{ /* (CHECKED) IMAGE STYLES */
            border:2px solid #f00;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('public/assets/css/observationCreate.css') }}">

    <button id="feedback-R" class="btn btn-primary "><span><strong>ACCIONES <i class="fa fa-angle-up" aria-hidden="true" style="font-size: large;"></i></strong></span></button>
    <button id="feedback-L" class="btn btn-primary hidden"><span><strong><i class="fa fa-angle-up " aria-hidden="true" style="font-size: large;"></i> CUESTIONARIO</strong></span></button>

    <!-- Working Tabs Block -->
    <div id="cuestionario" class="block full">
        <!-- Working Tabs Title -->
        <div class="block-title">
            <h2><strong>Observaci&oacute;n</strong> del Trabajo en el Aula <small style="color: darkgray;">Cuestionario</small></h2>
        </div>
        <!-- END Working Tabs Title -->

        <!-- Working Tabs Content -->
        <div class="row">
            <div class="col-xs-12">
                <!-- Block Tabs -->
                <div class="block full">
                    <!-- Block Tabs Title -->
                    <div class="block-title">
                        <ul class="nav nav-tabs" data-toggle="tabs">
                            {% for Category in questionByCategory%}
                                {% if loop.index == 1 %}
                                <li class="active"><a href="#categoryId{{ Category.categoryId }}">{{ Category.category }}</a></li>
                                {% else %}
                                <li><a href="#categoryId{{ Category.categoryId }}">{{ Category.category }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- END Block Tabs Title -->

                    <!-- Tabs Content -->
                    <div class="tab-content">
                        {% for Category in questionByCategory%}
                            {% if loop.index == 1 %}
                            <div class="tab-pane active" id="categoryId{{ Category.categoryId }}">
                            {% else %}
                            <div class="tab-pane" id="categoryId{{ Category.categoryId }}">
                            {% endif %}
                                <div class="table-responsive">
                                    <!--
                                    Available Table Classes:
                                        'table'             - basic table
                                        'table-bordered'    - table with full borders
                                        'table-borderless'  - table with no borders
                                        'table-striped'     - striped table
                                        'table-condensed'   - table with smaller top and bottom cell padding
                                        'table-hover'       - rows highlighted on mouse hover
                                        'table-vcenter'     - middle align content vertically
                                    -->
                                    <table class="table table-striped table-vcenter">
                                        <tbody>
                            {% for Questions in Category.questions%}
                                            <tr>
                                                <td width="50%">{{ Questions.order }}. {{ Questions.question }}</td>
                                                <td width="20%">
                                                    <div class="btn-group-wrap" style="text-align: center">
                                                        <div id="btn-group-{{ Questions.questionId }}" class="btn-group" style="margin: 0 auto; text-align: center; width: inherit; display: inline-block;">
                                                            {% set activeSi = '' %}
                                                            {% set activeNo = '' %}
                                                            {% if Questions.observationAnswerId %}
                                                                {% if Questions.answer == 1 %}
                                                                    {% set activeSi = 'active'%}
                                                                {% else %}
                                                                    {% set activeNo = 'active'%}
                                                                {% endif %}
                                                            {% endif %}
                                                            <button id="btn-1-{{ Questions.questionId }}" class="btn btn-alt btn-primary {{ activeSi }}" data-toggle="tooltip" data-placement="top" title="Sí" onclick="saveAnswer(this, {{ observationId }});">
                                                                <span class="visible-lg-inline visible-md-inline hidden-sm hidden-xs"><b>Sí</b></span>
                                                                <span class="visible-sm-inline visible-xs-inline"><b><i class="fa fa-check"></i></b></span>
                                                            </button>
                                                            <button id="btn-0-{{ Questions.questionId }}" class="btn btn-alt btn-primary {{ activeNo }}" data-toggle="tooltip" data-placement="top" title="No" onclick="saveAnswer(this, {{ observationId }});">
                                                                <span class="visible-lg-inline visible-md-inline hidden-sm hidden-xs"><b>No</b></span>
                                                                <span class="visible-sm-inline visible-xs-inline"><b><i class="fa fa-times"></i></b></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <input id="answerOrigin-{{ Questions.questionId }}" type="text" class="hidden" value="{{ Questions.answer }}">
                                                </td>
                                                <td width="30%">
                                                    <div class="form-group">
                                                        <div class="col-xs-12">
                                                            <div class="input-group">
                                                                {% if Questions.observationAnswerId %}
                                                                <span id="comment-{{ Questions.questionId }}">{{ Questions.comment }}</span>
                                                                <span class="input-group-btn">
                                                                    <button id="btnE-{{ Questions.questionId }}" type="button" class="btn btn-alt btn-default pull-right " data-toggle="tooltip" data-placement="top" title="Editar comentario" onclick="editComment({{ Questions.questionId }})"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                                                    <button id="btnS-{{ Questions.questionId }}" type="button" class="btn btn-alt btn-default pull-right hidden" data-toggle="tooltip" data-placement="top" title="Guardar comentario"  onclick="saveComment({{ Questions.questionId }}, {{ observationId }})"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                                                                </span>
                                                                {% else %}
                                                                <input type="text" id="comment-{{ Questions.questionId }}" class="form-control" placeholder="Agregar un comentario..." value="{{ Questions.observationAnswerId }}">
                                                                <span class="input-group-btn">
                                                                    <button id="btnE-{{ Questions.questionId }}" type="button" class="btn btn-alt btn-default pull-right hidden" data-toggle="tooltip" data-placement="top" title="Editar comentario" onclick="editComment({{ Questions.questionId }})"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                                                    <button id="btnS-{{ Questions.questionId }}" type="button" class="btn btn-alt btn-default pull-right " data-toggle="tooltip" data-placement="top" title="Guardar comentario"  onclick="saveComment({{ Questions.questionId }}, {{ observationId }})"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                                                                </span>
                                                                {% endif %}
                                                                <input id="commentOrigin-{{ Questions.questionId }}" type="text" class="hidden" value="{{ Questions.comment }}">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>

                                            </tr>
                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- END Tabs Content -->
                </div>
                <!-- END Block Tabs -->
            </div>
        </div>
        <!-- END Working Tabs Content -->
    </div>
    <!-- END Working Tabs Block -->


    <!-- Working Tabs Block -->
    <div id="acciones" class="block full hidden">
        <!-- Working Tabs Title -->
        <div class="block-title">
            <h2><strong>Observaci&oacute;n</strong> del Trabajo en el Aula <small style="color: darkgray;">Acciones</small></h2>
        </div>
        <!-- END Working Tabs Title -->

        <!-- Working Tabs Content -->
        <div class="row">
            <div class="col-xs-12">
                <!-- Block Tabs -->
                <div class="block full">
                    <!-- Block Tabs Title -->
                    <div class="block-title">
                        <ul class="nav nav-tabs" data-toggle="tabs">
                            <li class="active"><a href="#regAct-{{ observationId }}">Registro de Actividades</a></li>
                            <li><a href="#dispAula-{{ observationId }}">Dispocici&oacute;n del Aula</a></li>
                            <li><a href="#galeria-{{ observationId }}">Galeria</a></li>
                        </ul>
                    </div>
                    <!-- END Block Tabs Title -->

                    <!-- Tabs Content -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="regAct-{{ observationId }}">
                            <div class="table-responsive">
                                <!--
                                Available Table Classes:
                                    'table'             - basic table
                                    'table-bordered'    - table with full borders
                                    'table-borderless'  - table with no borders
                                    'table-striped'     - striped table
                                    'table-condensed'   - table with smaller top and bottom cell padding
                                    'table-hover'       - rows highlighted on mouse hover
                                    'table-vcenter'     - middle align content vertically
                                -->
                                <table class="table table-striped table-vcenter">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Inicio</th>
                                            <th class="text-center">Actividad</th>
                                            <th class="text-center">T&eacute;rmino</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="text-center" width="15%">
                                            <span id="start-{{ observationId }}"></span>
                                        </td>
                                        <td class="text-center" width="70%">
                                            <input type="text" id="activity-{{ observationId }}" class="form-control">
                                        </td>
                                        <td class="text-center" width="15%">
                                            <button class="btn btn-primary"> Registar horra</button>
                                        </td>

                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane" id="dispAula-{{ observationId }}">
                            <p><em><i class="fa fa-info-circle text-primary"></i> Selecciona la disposici&oacute;n del aula correspondiente</em></p>
                            <div class="row text-center">
                                <label id="filas-{{ observationId }}" class="col-xs-4" style="cursor:pointer; opacity: 0.5;" onclick="dispAula('filas', {{ observationId }})" onmouseover="dispAulaBig('filas', {{ observationId }})" onmouseout="dispAulaNormal('filas', {{ observationId }})">
                                    <input type="radio" name="disposicion" value="filas" />
                                    <img src="{{ asset('public/assets/images/observation/filas.svg') }}">
                                    <br/>
                                    <h3>Filas</h3>
                                </label>
                                <label id="herradura-{{ observationId }}" class="col-xs-4" style="cursor:pointer; opacity: 0.5;" onclick="dispAula('herradura', {{ observationId }})" onmouseover="dispAulaBig('herradura', {{ observationId }})" onmouseout="dispAulaNormal('herradura', {{ observationId }})">
                                    <input type="radio" name="disposicion" value="herradura" />
                                    <img src="{{ asset('public/assets/images/observation/herradura.svg') }}">
                                    <br/>
                                    <h3>Herradura</h3>
                                </label>
                                <label id="equipos-{{ observationId }}" class="col-xs-4" style="cursor:pointer; opacity: 0.5;" onclick="dispAula('equipos', {{ observationId }})" onmouseover="dispAulaBig('equipos', {{ observationId }})" onmouseout="dispAulaNormal('equipos', {{ observationId }})">
                                    <input type="radio" name="disposicion" value="equipos" />
                                    <img src="{{ asset('public/assets/images/observation/equipos.svg') }}">
                                    <br/>
                                    <h3>Equipos</h3>
                                </label>


                            </div>
                        </div>

                        <div class="tab-pane" id="galeria-{{ observationId }}">
                            <div class="row">
                                <div class="col-sx-12 col-md-6">
                                    <p><em><i class="fa fa-info-circle text-primary"></i> Esta secci&oacute;n es para documentar el ambiente de la clase</em></p>
                                    <ul>
                                        <li>Puedes subir 2 fotos solamente</li>
                                        <li>Para observar toda el aula, cada foto debe ser tomada del lado opuesto como se muestra:</li>
                                    </ul>

                                    <div class="row">
                                        <div class="col-xs-6 text-center" >
                                            <img src="{{ asset('public/assets/images/observation/anguloa.svg') }}">
                                        </div>
                                        <div class="col-xs-6 text-left" >
                                            <img src="{{ asset('public/assets/images/observation/angulob.svg') }}">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sx-12 col-md-6">
                                    <div class="row">
                                        <div class="col-xs-12 text-center">
                                            <h1 style="font-size: 80px"><i class="fa fa-picture-o text-muted" aria-hidden="true"></i></h1>
                                            <h4><strong>Foto A</strong></h4>
                                        </div>
                                    </div>

                                    <form id="A" name="A" action="#">
                                        <div class="input-group">
                                            <label class="input-group-btn">
                                                    <span id="findA" class="btn btn-info">
                                                        <i class="fa fa-folder-open" aria-hidden="true"></i> Agregar una foto&hellip; <input type="file" id="imageA" name="imageA" style="display: none;" multiple accept='image/*'>
                                                    </span>
                                            </label>
                                            <input type="text" class="form-control" readonly>
                                            <label class="input-group-btn">
                                                <button id="uploadA" type="submit" tabindex="500" class="btn btn-info upload" disabled>
                                                    <i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i>
                                                    <span class="hidden-xs">Upload</span>
                                                </button>
                                            </label>
                                        </div>
                                        <!-- <button class="btn btn-sm btn-info upload" type="submit"><i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i> Upload</button>
                                        <button type="button" class="btn btn-sm btn-danger cancel">Cancel</button> -->
                                        <input id="obsIdA" name="obsIdA" type="text" class="hidden" value="{{ observationId }}">
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-info" style="width:0%"></div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Tabs Content -->
                </div>
                <!-- END Block Tabs -->
            </div>
        </div>
        <!-- END Working Tabs Content -->
    </div>
    <!-- END Working Tabs Block -->


    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{{ asset('public/assets/js/observationCreate.js')}}"></script>

    <script>
        //dominio http://dev.ruta.unoi.com
        var HttpHost = '{{ app.request.getSchemeAndHttpHost() }}';
        //si es /app_dev.php
        var baseUrl = '{{ app.request.baseurl }}';
        //ruta en la que nos encontramos http://dev.ruta.unoi.com/app_dev.php/observacion
        var uri = '{{ app.request.uri }}';

        $(function() {
            // We can attach the `fileselect` event to all file inputs on the page
            $(document).on('change', ':file', function() {
                var input = $(this),
                        numFiles = input.get(0).files ? input.get(0).files.length : 1,
                        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');

                input.trigger('fileselect', [numFiles, label]);
            });

            // We can watch for our custom `fileselect` event like this
            $(document).ready( function() {
                $(':file').on('fileselect', function(event, numFiles, label) {

                    var input = $(this).parents('.input-group').find(':text'),
                            log = numFiles > 1 ? numFiles + ' files selected' : label;

                    if( input.length ) {
                        input.val(log);
                    } else {
                        if( log ) console.log(log);
                    }

                });
            });
        });


        function dispAula(type, observationId) {
            console.log(type+'|'+observationId);
            $('#'+type +'-'+ observationId).children('h3').html('<strong>'+type.charAt(0).toUpperCase() + type.slice(1)+'</strong>');
        }

        function dispAulaBig(type, observationId) {
            $('#'+type +'-'+ observationId).css('opacity', '1');
            $('#'+type +'-'+ observationId).children('h3').html('<strong>'+type.charAt(0).toUpperCase() + type.slice(1)+'</strong>');
        }

        function dispAulaNormal(type, observationId) {
            $('#'+type +'-'+ observationId).css('opacity', '0.5');
            $('#'+type +'-'+ observationId).children('h3').html( type.charAt(0).toUpperCase() + type.slice(1) );
        }










        $('#imageA').change(function () {

            if($("#imageA").val()) {
                $('#uploadA').prop("disabled", false);
                $('#findA').removeClass('btn-info');
                $('#findA').addClass('btn-default');
            }else {
                console.log("Not file");
            }
        });

        $('.upload-all').click(function(){
            //submit all form
            $('form').submit();
        });
        $('.cancel-all').click(function(){
            //submit all form
            $('form .cancel').click();
        });

        $(document).on('submit','form',function(e){
            e.preventDefault();
            uploadImage($(this));
        });

        function uploadImage($form){
            $form.find('.progress-bar').removeClass('progress-bar-success')
                    .removeClass('progress-bar-danger');
            var formdata = new FormData($form[0]); //formelement
            var request = new XMLHttpRequest();
            //progress event...
            request.upload.addEventListener('progress',function(e){
                var percent = Math.round(e.loaded/e.total * 100);
                $form.find('.progress-bar').width(percent+'%').html(percent+'%');
            });
            //progress completed load event
            request.addEventListener('load',function(e){
                $form.find('.progress-bar').addClass('progress-bar-success').html('cargar completada....');
            });
            console.log(HttpHost+baseUrl);
            request.open('post', HttpHost+baseUrl+'/api/v0/observation/saveImg');
            request.send(formdata);
            $form.on('click','.cancel',function(){
                request.abort();
                $form.find('.progress-bar')
                        .addClass('progress-bar-danger')
                        .removeClass('progress-bar-success')
                        .html('cargar abortada...');
            });
        }

    </script>
{% endblock %}