{% extends '::base.html.twig' %}
{% block body %}
    <link rel="stylesheet" href="https://staticmx.unoi.com/global/css/themes.css">
    <style>
        label > input{ /* HIDE RADIO */
            display:none;
        }
        label > input + img{ /* IMAGE STYLES */
            cursor:pointer;
            border:2px solid transparent;
        }
        label > input:checked + img{ /* (CHECKED) IMAGE STYLES */
            border:2px solid #f00;
        }

    </style>
    <link rel="stylesheet" href="{{ asset('public/assets/css/observationCreate.css') }}">

    <button id="feedback-R" class="btn btn-primary "><span><strong>ACCIONES <i class="fa fa-angle-up" aria-hidden="true" style="font-size: large;"></i></strong></span></button>
    <button id="feedback-L" class="btn btn-primary hidden"><span><strong><i class="fa fa-angle-up " aria-hidden="true" style="font-size: large;"></i> CUESTIONARIO</strong></span></button>

    <div class="content-header">
        <div class="header-section">
            <div class="row">
                <div class="col-sm-8">
                    <h1>
                        <b>Observaci&oacute;n del trabajo en el aula</b>
                    </h1>
                </div>
                <div class="col-sm-4">
                    <div class="pull-right">
                        <button type="button" class="btn btn-alt btn btn-info" onclick="window.location.href = uriBack;">Continuar despu&eacute;s</button>
                        <button id="finalizar" type="button" class="btn btn-info" >Finalizar</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">

                </div>
            </div>
        </div>
    </div>

    <!-- Working Tabs Block -->
    <div id="cuestionario" class="block full">
        <!-- Working Tabs Title -->
        <div class="block-title">
            <h2><strong>Observaci&oacute;n</strong> del Trabajo en el Aula <small style="color: darkgray;">Cuestionario</small></h2>
        </div>
        <!-- END Working Tabs Title -->

        <!-- Working Tabs Content -->
        <div class="row">
            <div class="col-xs-12">
                <!-- Block Tabs -->
                <div class="block full">
                    <!-- Block Tabs Title -->
                    <div class="block-title">
                        <ul class="nav nav-tabs" data-toggle="tabs">
                            {% for Category in questionByCategory%}
                                {% if loop.index == 1 %}
                                <li class="active"><a href="#categoryId{{ Category.categoryId }}">{{ Category.category }}</a></li>
                                {% else %}
                                <li><a href="#categoryId{{ Category.categoryId }}">{{ Category.category }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- END Block Tabs Title -->

                    <!-- Tabs Content -->
                    <div class="tab-content">
                        {% for Category in questionByCategory%}
                            {% if loop.index == 1 %}
                            <div class="tab-pane active" id="categoryId{{ Category.categoryId }}">
                            {% else %}
                            <div class="tab-pane" id="categoryId{{ Category.categoryId }}">
                            {% endif %}
                                <div class="table-responsive">
                                    <!--
                                    Available Table Classes:
                                        'table'             - basic table
                                        'table-bordered'    - table with full borders
                                        'table-borderless'  - table with no borders
                                        'table-striped'     - striped table
                                        'table-condensed'   - table with smaller top and bottom cell padding
                                        'table-hover'       - rows highlighted on mouse hover
                                        'table-vcenter'     - middle align content vertically
                                    -->
                                    <table class="table table-striped table-vcenter">
                                        <tbody>
                            {% for Questions in Category.questions%}
                                            <tr>
                                                <td width="50%">{{ Questions.order }}. {{ Questions.question }}</td>
                                                <td width="20%">
                                                    <div class="btn-group-wrap" style="text-align: center">
                                                        <div id="btn-group-{{ Questions.questionId }}" class="btn-group" style="margin: 0 auto; text-align: center; width: inherit; display: inline-block;">
                                                            {% set activeSi = '' %}
                                                            {% set activeNo = '' %}
                                                            {% if Questions.observationAnswerId %}
                                                                {% if Questions.answer == 1 %}
                                                                    {% set activeSi = 'active'%}
                                                                {% else %}
                                                                    {% set activeNo = 'active'%}
                                                                {% endif %}
                                                            {% endif %}
                                                            <button id="btn-1-{{ Questions.questionId }}" class="btn btn-alt btn-primary {{ activeSi }}" data-toggle="tooltip" data-placement="top" title="Sí" onclick="saveAnswer(this, {{ observationId }});">
                                                                <span class="visible-lg-inline visible-md-inline hidden-sm hidden-xs"><b>Sí</b></span>
                                                                <span class="visible-sm-inline visible-xs-inline"><b><i class="fa fa-check"></i></b></span>
                                                            </button>
                                                            <button id="btn-0-{{ Questions.questionId }}" class="btn btn-alt btn-primary {{ activeNo }}" data-toggle="tooltip" data-placement="top" title="No" onclick="saveAnswer(this, {{ observationId }});">
                                                                <span class="visible-lg-inline visible-md-inline hidden-sm hidden-xs"><b>No</b></span>
                                                                <span class="visible-sm-inline visible-xs-inline"><b><i class="fa fa-times"></i></b></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <input id="answerOrigin-{{ Questions.questionId }}" type="text" class="hidden" value="{{ Questions.answer }}">
                                                </td>
                                                <td width="30%">
                                                    <div class="form-group">
                                                        <div class="col-xs-12">
                                                            <div class="input-group">
                                                                {% if Questions.observationAnswerId %}
                                                                <span id="comment-{{ Questions.questionId }}">{{ Questions.comment }}</span>
                                                                <span class="input-group-btn">
                                                                    <button id="btnE-{{ Questions.questionId }}" type="button" class="btn btn-alt btn-default pull-right " data-toggle="tooltip" data-placement="top" title="Editar comentario" onclick="editComment({{ Questions.questionId }})"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                                                    <button id="btnS-{{ Questions.questionId }}" type="button" class="btn btn-alt btn-default pull-right hidden" data-toggle="tooltip" data-placement="top" title="Guardar comentario"  onclick="saveComment({{ Questions.questionId }}, {{ observationId }})"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                                                                </span>
                                                                {% else %}
                                                                <input type="text" id="comment-{{ Questions.questionId }}" class="form-control" placeholder="Agregar un comentario..." value="{{ Questions.observationAnswerId }}">
                                                                <span class="input-group-btn">
                                                                    <button id="btnE-{{ Questions.questionId }}" type="button" class="btn btn-alt btn-default pull-right hidden" data-toggle="tooltip" data-placement="top" title="Editar comentario" onclick="editComment({{ Questions.questionId }})"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                                                    <button id="btnS-{{ Questions.questionId }}" type="button" class="btn btn-alt btn-default pull-right " data-toggle="tooltip" data-placement="top" title="Guardar comentario"  onclick="saveComment({{ Questions.questionId }}, {{ observationId }})"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                                                                </span>
                                                                {% endif %}
                                                                <input id="commentOrigin-{{ Questions.questionId }}" type="text" class="hidden" value="{{ Questions.comment }}">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>

                                            </tr>
                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- END Tabs Content -->
                </div>
                <!-- END Block Tabs -->
            </div>
        </div>
        <!-- END Working Tabs Content -->
    </div>
    <!-- END Working Tabs Block -->


    <!-- Working Tabs Block -->
    <div id="acciones" class="block full hidden">
        <!-- Working Tabs Title -->
        <div class="block-title">
            <h2><strong>Observaci&oacute;n</strong> del Trabajo en el Aula <small style="color: darkgray;">Acciones</small></h2>
        </div>
        <!-- END Working Tabs Title -->

        <!-- Working Tabs Content -->
        <div class="row">
            <div class="col-xs-12">
                <!-- Block Tabs -->
                <div class="block full">
                    <!-- Block Tabs Title -->
                    <div class="block-title">
                        <ul class="nav nav-tabs" data-toggle="tabs">
                            <li class="active"><a href="#regAct-{{ observationId }}">Registro de Actividades</a></li>
                            <li><a href="#dispAula-{{ observationId }}">Dispocici&oacute;n del Aula</a></li>
                            <li><a href="#galeria-{{ observationId }}">Galeria</a></li>
                        </ul>
                    </div>
                    <!-- END Block Tabs Title -->

                    <!-- Tabs Content -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="regAct-{{ observationId }}">
                            <form id="ActivityFrm" name="ActivityFrm" action="#">
                                <div class="table-responsive">
                                    <!--
                                    Available Table Classes:
                                        'table'             - basic table
                                        'table-bordered'    - table with full borders
                                        'table-borderless'  - table with no borders
                                        'table-striped'     - striped table
                                        'table-condensed'   - table with smaller top and bottom cell padding
                                        'table-hover'       - rows highlighted on mouse hover
                                        'table-vcenter'     - middle align content vertically
                                    -->
                                    <table id="actividades" class="table table-striped table-vcenter">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Inicio</th>
                                                <th class="text-center">Actividad</th>
                                                <th class="text-center"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="text-center" width="15%">
                                                <span id="start-{{ observationId }}"></span>
                                            </td>
                                            <td class="text-center" width="70%">
                                                <input type="text" id="activity-{{ observationId }}" class="form-control">
                                            </td>
                                            <td class="text-center" width="15%">
                                                <button id="subActivity" type="submit" class="btn btn-primary" disabled> Registar horra</button>
                                            </td>

                                        </tr>

                                        </tbody>
                                    </table>

                                </div>
                                <input type="text" id="observationActivityId" name="observationActivityId" class="hidden">

                            </form>

                            <form id="editActivityFrm" name="editActivityFrm" action="#" class="hidden">
                                <div class="table-responsive">
                                    <!--
                                    Available Table Classes:
                                        'table'             - basic table
                                        'table-bordered'    - table with full borders
                                        'table-borderless'  - table with no borders
                                        'table-striped'     - striped table
                                        'table-condensed'   - table with smaller top and bottom cell padding
                                        'table-hover'       - rows highlighted on mouse hover
                                        'table-vcenter'     - middle align content vertically
                                    -->
                                    <table class="table table-striped table-vcenter">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Inicio</th>
                                                <th class="text-center">Actividad</th>
                                                <th class="text-center"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center" width="20%">
                                                    <span id="start"></span>
                                                </td>
                                                <td class="text-center" width="65%">
                                                    <input type="text" id="activity" class="form-control">
                                                </td>
                                                <td class="text-center" width="15%">
                                                    <button id="subEditActivity" type="submit" class="btn btn-primary" disabled> Actualizar</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <input type="text" id="editObservationActivityId" name="editObservationActivityId" class="hidden">

                            </form>


                            <div class="table-responsive">
                                <!--
                                Available Table Classes:
                                    'table'             - basic table
                                    'table-bordered'    - table with full borders
                                    'table-borderless'  - table with no borders
                                    'table-striped'     - striped table
                                    'table-condensed'   - table with smaller top and bottom cell padding
                                    'table-hover'       - rows highlighted on mouse hover
                                    'table-vcenter'     - middle align content vertically
                                -->
                                <table id="actividadesDT" class="table table-striped table-vcenter table-bordered" width="100%">
                                    <thead>
                                    <tr>
                                        <th class="text-center" width="20%">Inicio</th>
                                        <th class="text-center" width="50%">Actividad</th>
                                        <th class="text-center" width="20%">T&eacute;rmino</th>
                                        <th class="text-center" width="10%"></th>
                                    </tr>
                                    </thead>
                                    <tbody id="activityHistory">


                                    </tbody>
                                </table>

                            </div>
                        </div>



                        <div class="tab-pane" id="dispAula-{{ observationId }}">
                            <p><em><i class="fa fa-info-circle text-primary"></i> Selecciona la disposici&oacute;n del aula correspondiente</em></p>
                            <div class="row text-center">
                                <label id="label-filas-{{ observationId }}" class="col-xs-4 disposition" style="cursor:pointer; opacity: 0.5;" >
                                    <input id="filas-{{ observationId }}" type="radio" name="disposicion" value="filas" />
                                    <img src="{{ asset('public/assets/images/observation/filas.svg') }}">
                                    <br/>
                                    <h3>Filas</h3>
                                </label>
                                <label id="label-herradura-{{ observationId }}" class="col-xs-4 disposition" style="cursor:pointer; opacity: 0.5;" >
                                    <input id="herradura-{{ observationId }}" type="radio" name="disposicion" value="herradura" />
                                    <img src="{{ asset('public/assets/images/observation/herradura.svg') }}">
                                    <br/>
                                    <h3>Herradura</h3>
                                </label>
                                <label id="label-equipos-{{ observationId }}" class="col-xs-4 disposition" style="cursor:pointer; opacity: 0.5;" >
                                    <input id="equipos-{{ observationId }}" type="radio" name="disposicion" value="equipos" />
                                    <img src="{{ asset('public/assets/images/observation/equipos.svg') }}">
                                    <br/>
                                    <h3>Equipos</h3>
                                </label>


                            </div>
                        </div>

                        <div class="tab-pane" id="galeria-{{ observationId }}">
                            <div class="row">
                                <div class="col-sx-12 col-md-6">
                                    <p><em><i class="fa fa-info-circle text-primary"></i> Esta secci&oacute;n es para documentar el ambiente de la clase</em></p>
                                    <ul>
                                        <li>Puedes subir 2 fotos solamente</li>
                                        <li>Para observar toda el aula, cada foto debe ser tomada del lado opuesto como se muestra:</li>
                                    </ul>

                                    <div class="row">
                                        <div class="col-xs-6 text-center" >
                                            <img src="{{ asset('public/assets/images/observation/anguloa.svg') }}">
                                        </div>
                                        <div class="col-xs-6 text-left" >
                                            <img src="{{ asset('public/assets/images/observation/angulob.svg') }}">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sx-12 col-md-6">
                                    <div class="row">

                                        <div class="col-xs-12 text-center">

                                            <div class="widget-main">
                                                <div class="gallery gallery-widget" data-toggle="lightbox-gallery">
                                                    <div id="widgetFotoA" class="widget" style="display: none">
                                                        <div class="alert alert-success alert-dismissable">
                                                            <button id="closeA" type="button" class="close pull-right" aria-hidden="true">&times;</button>

                                                            <div id="widget-carousel6" class="carousel slide remove-margin">
                                                                <div class="carousel-inner">
                                                                    <div class="active item">
                                                                        <a href="" class="gallery-link" title="Foto A">
                                                                            <img src="" alt="image A">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="widget-simple themed-background-dark-night">
                                                                <a href="javascript:void(0)" class="widget-icon pull-right themed-background-flatie">
                                                                    <i class="fa fa-camera" aria-hidden="true"></i>
                                                                </a>
                                                                <h4 class="widget-content widget-content-light">
                                                                    <a href="javascript:void(0)" class="themed-color-flatie"><strong>Foto</strong> A</a>
                                                                    <small>Observaci&oacute;n en el aula</small>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="fotoA">
                                                <h1 style="font-size: 80px">
                                                    <i class="fa fa-picture-o text-muted" aria-hidden="true"></i>
                                                </h1>
                                                <h4><strong>Foto A</strong></h4>

                                                <form id="A" name="A" action="#">
                                                    <div class="input-group">
                                                        <label class="input-group-btn">
                                                        <span id="findA" class="btn btn-info">
                                                            <i class="fa fa-folder-open" aria-hidden="true"></i> Agregar una foto&hellip; <input type="file" id="imageA" name="imageA" style="display: none;" multiple accept='image/*'>
                                                        </span>
                                                        </label>
                                                        <input type="text" class="form-control" readonly>
                                                        <label class="input-group-btn">
                                                            <button id="uploadA" type="submit" tabindex="500" class="btn btn-info upload" disabled>
                                                                <i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i>
                                                                <span class="hidden-xs">Upload</span>
                                                            </button>
                                                        </label>
                                                    </div>
                                                    <input id="obsIdA" name="obsIdA" type="text" class="hidden" value="{{ observationId }}">
                                                    <div class="progress progress-striped active">
                                                        <div class="progress-bar progress-bar-info" style="width:0%"></div>
                                                    </div>

                                                </form>

                                            </div>
                                        </div>

                                        <div class="col-xs-12 text-center">

                                            <div class="widget-main">
                                                <div class="gallery gallery-widget" data-toggle="lightbox-gallery">
                                                    <div id="widgetFotoB" class="widget" style="display: none">
                                                        <div class="alert alert-success alert-dismissable">
                                                            <button id="closeB" type="button" class="close pull-right" aria-hidden="true">&times;</button>

                                                            <div id="widget-carousel6" class="carousel slide remove-margin">
                                                                <div class="carousel-inner">
                                                                    <div class="active item">
                                                                        <a href="" class="gallery-link" title="Foto B">
                                                                            <img src="" alt="image B">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="widget-simple themed-background-dark-night">
                                                                <a href="javascript:void(0)" class="widget-icon pull-right themed-background-flatie">
                                                                    <i class="fa fa-camera" aria-hidden="true"></i>
                                                                </a>
                                                                <h4 class="widget-content widget-content-light">
                                                                    <a href="javascript:void(0)" class="themed-color-flatie"><strong>Foto</strong> B</a>
                                                                    <small>Observaci&oacute;n en el aula</small>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="fotoB">
                                                <h1 style="font-size: 80px">
                                                    <i class="fa fa-picture-o text-muted" aria-hidden="true"></i>
                                                </h1>
                                                <h4><strong>Foto B</strong></h4>

                                                <form id="B" name="B" action="#">
                                                    <div class="input-group">
                                                        <label class="input-group-btn">
                                                        <span id="findB" class="btn btn-info">
                                                            <i class="fa fa-folder-open" aria-hidden="true"></i> Agregar una foto&hellip; <input type="file" id="imageB" name="imageB" style="display: none;" multiple accept='image/*'>
                                                        </span>
                                                        </label>
                                                        <input type="text" class="form-control" readonly>
                                                        <label class="input-group-btn">
                                                            <button id="uploadB" type="submit" tabindex="500" class="btn btn-info upload" disabled>
                                                                <i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i>
                                                                <span class="hidden-xs">Upload</span>
                                                            </button>
                                                        </label>
                                                    </div>
                                                    <input id="obsIdB" name="obsIdB" type="text" class="hidden" value="{{ observationId }}">
                                                    <div class="progress progress-striped active">
                                                        <div class="progress-bar progress-bar-info" style="width:0%"></div>
                                                    </div>

                                                </form>
                                            </div>

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Tabs Content -->
                </div>
                <!-- END Block Tabs -->
            </div>
        </div>
        <!-- END Working Tabs Content -->
    </div>
    <!-- END Working Tabs Block -->

    <!-- Modal Stats finish -->
    <div id="finishModal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Finalizar la Observaci&oacute;n</h4>
                </div>
                <div class="modal-body">

                    <h4>Esta seguro de <strong>Finalizar</strong> la Observaci&oacute;n</h4>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-info" onclick="finishedObservation()">Fianlizar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal finish -->

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{{ asset('public/assets/js/observationCreate.js')}}"></script>

    <script>
        //dominio http://dev.ruta.unoi.com
        var HttpHost = '{{ app.request.getSchemeAndHttpHost() }}';
        //si es /app_dev.php
        var baseUrl = '{{ app.request.baseurl }}';
        //ruta en la que nos encontramos http://dev.ruta.unoi.com/app_dev.php/observacion/crear/1
        var uri = '{{ app.request.uri }}';
        var uriArr = uri.split("/");
        var uriBack = uriArr.slice(0,uriArr.length-2).join("/");
        var observationId = {{ observationId }};

        $(function() {
            // We can attach the `fileselect` event to all file inputs on the page
            $(document).on('change', ':file', function() {
                var input = $(this),
                        numFiles = input.get(0).files ? input.get(0).files.length : 1,
                        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');

                input.trigger('fileselect', [numFiles, label]);
            });

            // We can watch for our custom `fileselect` event like this
            $(document).ready( function() {
                $(':file').on('fileselect', function(event, numFiles, label) {

                    var input = $(this).parents('.input-group').find(':text'),
                            log = numFiles > 1 ? numFiles + ' files selected' : label;

                    if( input.length ) {
                        input.val(log);
                    } else {
                        if( log ) console.log(log);
                    }

                });
            });

            getActivity();
            getGallery();
            getDisposition();

            $('#activity-'+observationId).on('keyup',function(e) {
                if( ($('#observationActivityId').val() === '') && ($.trim($('#activity-'+observationId).val()).length !== 0) ) {
                    $.get(HttpHost + baseUrl + "/api/v0/observation/startActivity")
                            .done(function (data) {
                                if (data) {
                                    //console.log(data);
                                    $('#start-' + observationId).html(paserDate(data.startActivity.date));
                                    $('#observationActivityId').val(data.startActivity.date);

                                }
                            })
                            .fail(function () {
                                //console.log('error')
                            })
                            .always(function () {
                                console.log("finished");
                            });
                }

                if($('#activity-'+observationId).val().length !== 0) {
                    $('#subActivity').prop("disabled", false);
                }else {
                    $('#subActivity').prop("disabled", true);
                }
            });

            $('#activity').on('keyup',function(e) {

                if($('#activity').val().length !== 0) {
                    $('#subEditActivity').prop("disabled", false);
                }else {
                    $('#subEditActivity').prop("disabled", true);
                }
            });

        });



    </script>
{% endblock %}