{% extends '::base.html.twig' %}
{% block body %}

    <div id="page-content">

        <div class="content-header">
            <div class="header-section">
                <div class="row">
                    <div class="col-sm-8">
                        <h1>
                            <b>Observaci&oacute;n del trabajo en el aula</b>
                        </h1>
                    </div>
                    <div class="col-sm-4">
                        <img class="pull-right" src="{{ asset('public/assets/images/icon/observacionHeader.svg') }}" style="width: 64px; height: 64px">
                    </div>
                </div>


            </div>
        </div>

        <div class="block full">
            <div class="block-title text-center">
                <h2>Ver mis <strong>Listas</strong></h2>
            </div>
            <div class="block-content">
                <div class="row">
                    <p>
                        <a href="javascript:void(0)" class="btn btn-md btn-info " onclick="$('#addObservation').modal();" style="margin-left: 6px;">Crear Nueva <i class="fa fa-plus"></i></a>
                    </p>

                    <div class="table-responsive">
                        <table id="obList-datatable" class="table table-vcenter table-condensed table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">Docente</th>
                                    <th class="text-center">Colegio</th>
                                    <th class="text-center">Nivel</th>
                                    <th class="text-center">Grado</th>
                                    <th class="text-center">Grupo</th>
                                    <th class="text-center">SE/BE</th>
                                    <th class="text-center">Fecha de Creaci&oacute;n</th>
                                    <th class="text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for listObservation in observationsByCoach %}
                                <tr>
                                    <td class="text-center">{{ listObservation.name }}</td>
                                    <td class="text-center">{{ listObservation.school | title}}</td>
                                    <td class="text-center" data-toggle="tooltip" title="{{ listObservation.nivelCompleto }}">{{ listObservation.nivel }}</td>
                                    <td class="text-center">{{ listObservation.grado }}</td>
                                    <td class="text-center">{{ listObservation.groupId }}</td>
                                    <td class="text-center">{{ listObservation.nameProgram }}</td>
                                    <td class="text-center">{{ listObservation.start.date | date('j/M/Y \@ g:i a') }} <i class="fa fa-clock-o" aria-hidden="true" data-toggle="tooltip" title="tiempo restante..."></i></td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <a href="javascript:void(0)" data-toggle="tooltip" title="view" class="btn btn-xs btn-default"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                            <a href="javascript:void(0)" onclick="window.location.href = uri+'/crear/{{ listObservation.observationId }}';" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                            <a href="javascript:void(0)" data-toggle="tooltip" title="Notification" class="btn btn-xs btn-default"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- END Page Content -->

    <!-- Modal Stats User -->
    <div id="addObservation" class="modal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close addObCancel" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-folder-open"></i> Ingreso de <strong>datos</strong></h4>
                </div>
                <div class="modal-body">
                    <div id="addObAlert" class="alert alert-info">
                        <h5><i class="fa fa-times"></i> Llena todos los campos para habilitar el B&oacute;ton "Crear"</h5>
                    </div>

                    <form id="addObForm" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Colegio</label>
                            <div class="col-sm-10">
                                <select id="obSchool" name="obSchool" class="select-chosen" data-placeholder="Ingresa el nombre del colegio..." style="width: 250px;">
                                    <option></option><!-- Required for data-placeholder attribute to work with Chosen plugin -->
                                    {% for school in schoolList%}
                                        <option value="{{ school.schoolid }}">{{ school.school}}</option>
                                    {% endfor %}
                                </select>

                            </div>
                        </div>

                        <div class="form-group" id="docenteFG" >
                            <label class="col-sm-2 control-label">Docente</label>
                            <div class="col-sm-10" id="docenteS">
                            </div>
                        </div>

                        <hr/>

                        <div class="form-group" id="assignedFG" >
                            <label class="col-sm-2 control-label">Clase</label>
                            <div class="col-sm-10" id="assignedS">
                            </div>
                        </div>


                    </form>

                    <hr/>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default addObCancel" data-dismiss="modal">Cancelar</button>
                    <button id="addObCreate" type="button" class="btn btn-info" disabled>Crear</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal Stats User -->

    <!-- Modal Stats DetalleSurvey -->
    <div id="detalleSurveyM" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-file-text" style="padding-right: 5px;"></i> <span class="titleModalDS"></span></h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-1">
                            <br/><br/>
                            <i id="left" class="fa fa-arrow-circle-left fa-2x hidden"></i>
                        </div>
                        <div class="col-sm-10">
                            <div class="bodyModalDS"></div>
                        </div>
                        <div class="col-sm-1">
                            <br/><br/>
                            <i id="right" class="fa fa-arrow-circle-right fa-2x hidden"></i>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal Stats User -->

    <div id="divContentDetalle" class="hidden">
    </div>

    <!-- Modal loading -->
    <div id="loadingStats" class="modal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-body bg-primary text-center">
                    <h4 class="modal-title"><i class="fa fa-refresh fa-spin"></i> Cargando, <strong>por favor espere...</strong></h4>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal loading -->

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>$(function(){ DTObCoach.init(); });</script>

    <script>
        //dominio http://dev.ruta.unoi.com
        var HttpHost = '{{ app.request.getSchemeAndHttpHost() }}';
        //si es /app_dev.php
        var baseUrl = '{{ app.request.baseurl }}';
        //ruta en la que nos encontramos http://dev.ruta.unoi.com/app_dev.php/observacion
        var uri = '{{ app.request.uri }}';


        var personSchoolList;

        $(function() {
            $("#docenteFG").hide('fast');
            $("#assignedFG").hide('fast');

            $('#obSchool').change(function(){
                $('#addObCreate').prop('disabled',true);
                $("#assignedFG").hide('fast');
                $("#addObAlert").show('fast');

                $.getJSON( HttpHost+baseUrl+"/api/v0/catalog/personSchool/"+$('#obSchool').val(), function( data ) {
                    $("#docenteFG").show('slow');

                    var items =
                            '<select id="obDocente" name="obDocente" class="select-chosen " data-placeholder="Ingresa el nombre del docente..." style="width: 250px;" onchange="docente();">'+
                                '<option></option>';

                    $.each( data, function( key, val ) {

                        items += "<option value='" + val.personid + "'>" + val.nombre + "</option>";
                    });

                    items += '</select>';

                    $('#docenteS').html(items);
                    $('.select-chosen').chosen({width: "100%"});

                });
            });
        });

        function docente(){
            $('#addObCreate').prop('disabled',true);
            $("#addObAlert").show('fast');

            $.getJSON( HttpHost+baseUrl+"/api/v0/assigned/personById/"+$('#obDocente').val(), function( data ) {
                $("#assignedFG").show('fast');

                var items =
                        '<select id="obAssigned" name="obAssigned" class="select-chosen " data-placeholder="Ingresa una clase..." style="width: 250px;" onchange="clase()">'+
                        '<option></option>';

                $.each( data, function( key, val ) {

                    items += "<option value='" + val.personAssignedId + "'>" + escapeGrades(val.nameGrade)+ ' <strong>' +val.groupId + '</strong> ' +val.schoollevel + ' ' +val.nameProgram + "</option>";
                });

                items += '</select>';

                $('#assignedS').html(items);
                $('.select-chosen').chosen({width: "100%"});

            });
        }

        function clase() {
            $('#addObCreate').prop('disabled',false);
            $("#addObAlert").hide('fast');
        }

        $('.addObCancel').click(function () {
            $('#obSchool').val('').trigger('chosen:updated');
            $('#docenteS').html('');
            $("#docenteFG").hide('fast');
            $('#assignedS').html('');
            $("#assignedFG").hide('fast');
            $("#addObAlert").show('fast');
        });

        $('#addObCreate').click(function () {
            $.getJSON( HttpHost+baseUrl+"/api/v0/assigned/byId/"+$('#obAssigned').val(), function(data) {
                if(data){
                    $.post( HttpHost+baseUrl+"/api/v0/observation", { gradeId: data.gradeId, groupId: data.groupId, programId: data.programId, schoolId: $('#obSchool').val(), personId: $('#obDocente').val(), coachId: {{ app.session.get('personIdS')}} })
                            .done(function(data) {
                                if(data){
                                    window.location.href = uri+"/crear/"+ data.id;
                                }
                            })
                            .fail(function() {
                                console.log( "error" );
                            })
                            .always(function() {
                                console.log( "finished" );
                            });
                }

            });

        });

        function escapeGrades(string) {
            var grades = {
                "Primero de kinder": "1°",
                "Segundo de kinder": "2°",
                "Tercero de kinder": "3°",
                "Primero de primaria": "1°",
                "Segundo de primaria": "2°",
                "Tercero de primaria": "3°",
                "Cuarto de primaria": "4°",
                "Quinto de primaria": "5°",
                "Sexto de primaria": "6°",
                "Primero de secundaria": "1°",
                "Segundo de secundaria": "2°",
                "Tercero de secundaria": "3°",
                "Primero de bachillerato": "1°",
                "Segundo de bachillerato": "2°",
                "Tercero de bachillerato": "3°"
            };

            return grades[string];
        }

        var DTObCoach = function() {

            return {
                init: function() {
                    /* Initialize Bootstrap Datatables Integration */
                    App.datatables();

                    /* Initialize Datatables */
                    $('#obList-datatable').dataTable({
                        columnDefs: [ { orderable: false, targets: [ 0, 7 ] } ],
                        pageLength: 10,
                        lengthMenu: [[10, 20, 30, -1], [10, 20, 30, 'All']]
                    });

                    /* Add placeholder attribute to the search input */
                    $('.dataTables_filter input').attr('placeholder', 'Buscar');
                }
            };
        }();
    </script>

{% endblock %}