{% extends '::base.html.twig' %}
{% block body %}

    <div id="page-content">

        <div class="content-header">
            <div class="header-section">
                <div class="row">
                    <div class="col-sm-8">
                        <h1>
                            <b>Observaci&oacute;n del trabajo en el aula</b>
                        </h1>
                    </div>
                    <div class="col-sm-4">
                        <img class="pull-right" src="{{ asset('public/assets/images/icon/observacionHeader.svg') }}" style="width: 64px; height: 64px">
                    </div>
                </div>


            </div>
        </div>

        <div class="block">
            <div class="block-title text-center">
                <h2>Ver mis <strong>Listas</strong></h2>
            </div>
                <div class="block-content">
                    <div class="row">
                        <a href="javascript:void(0)" class="btn btn-md btn-info animation-pulse" onclick="$('#addObservation').modal();">Crear Nueva <i class="fa fa-plus"></i></a>
                    </div>
                </div>
        </div>


    </div>
    <!-- END Page Content -->

    <!-- Modal Stats User -->
    <div id="addObservation" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-folder-open"></i> Ingreso de <strong>datos</strong></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Colegio</label>
                            <div class="col-sm-10">
                                <select id="obSchool" name="obSchool" class="select-chosen" data-placeholder="Ingresa el nombre del colegio..." style="width: 250px;">
                                    <option></option><!-- Required for data-placeholder attribute to work with Chosen plugin -->
                                    {% for school in schoolList %}
                                        <option value="{{ school.schooid }}">{{ school.school}}</option>
                                    {% endfor %}
                                </select>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Docente</label>
                            <div class="col-sm-10">
                                <input type="text" id="obDocente" name="obDocente" class="form-control input-typeaheadSchool" autocomplete="off" placeholder="Ingresa el nombre del docente..." disabled>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-info">Crear</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal Stats User -->

    <!-- Modal Stats DetalleSurvey -->
    <div id="detalleSurveyM" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-file-text" style="padding-right: 5px;"></i> <span class="titleModalDS"></span></h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-1">
                            <br/><br/>
                            <i id="left" class="fa fa-arrow-circle-left fa-2x hidden"></i>
                        </div>
                        <div class="col-sm-10">
                            <div class="bodyModalDS"></div>
                        </div>
                        <div class="col-sm-1">
                            <br/><br/>
                            <i id="right" class="fa fa-arrow-circle-right fa-2x hidden"></i>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal Stats User -->

    <div id="divContentDetalle" class="hidden">
    </div>

    <!-- Modal loading -->
    <div id="loadingStats" class="modal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-body bg-primary text-center">
                    <h4 class="modal-title"><i class="fa fa-refresh fa-spin"></i> Cargando, <strong>por favor espere...</strong></h4>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal loading -->

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <script>
        //dominio http://dev.ruta.unoi.com
        var HttpHost = '{{ app.request.getSchemeAndHttpHost() }}';
        //si es /app_dev.php
        var baseUrl = '{{ app.request.baseurl }}';
        //ruta en la que nos encontramos http://dev.ruta.unoi.com/app_dev.php/observacion
        var uri = '{{ app.request.uri }}';

        var schoolListJS = {{ schoolList | raw }};
        var personSchoolList;

        $(function() {
            $('.input-typeaheadSchool').typeahead({ source: schoolListJS });

        });

        var obSchool = $('#obSchool');
        var okSchool;
        $('#obSchool').blur(function(){
            if($('#obSchool').val() != '') {

                if (schoolListJS.indexOf($('#obSchool').val()) != -1) {
                    //mensajeSchool.hide();
                    okSchool = true;
                    //showErrorBuscar(okSchool, okSurvey, schoolIdFrm, surveyIdFrm);
                    console.log($('#obSchool').val());
                    $('#obDocente').prop('disabled', false);
                } else {
                    //errorBuscar.show('fast');
                    //mensajeSchool.show();
                    //buscar.prop('disabled', true);
                    okSchool = false;
                    $('#obDocente').prop('disabled', true);
                }
            }else{
                //mensajeSchool.hide();
                okSchool = false;
                //showErrorBuscar(okSchool, okSurvey, schoolIdFrm, surveyIdFrm);
                $('#obDocente').prop('disabled', true);
            }
            console.log(okSchool);
        });
    </script>

{% endblock %}