{% extends '::base.html.twig' %}
{% block body %}

    <div id="page-content">

        <div class="content-header">
            <div class="header-section">
                <h1>
                    {# app.request.getSchemeAndHttpHost() #}
                    {# app.request.basepath #}
                    {# app.request.baseurl #}
                    {# app.request.uri #}
                    <i class="fa fa-recycle"></i><b>Administración de Usuarios</b>
                    <small><br/><span class="label label-primary"><span class="nameSchool"></span> </span></small>
                </h1>
            </div>
        </div>

        <div class="block">
            <div class="block-title">
                <h2>Filtro</h2>
            </div>
            <div class="row">
                <div class="block-content">
                    <div class="form-group">
                        <label class="col-xs-2 control-label" for="example-chosen">Colegio</label>
                        <div class="col-xs-7">
                            <select id="optionSchool" name="optionSchool" class="select-chosen" data-placeholder="Seleciona un Colegio" style="width: 250px;">
                                <option></option>
                                {% for school in schoolList%}
                                    <option value="{{ school.schoolid }}-{{ school.school}}">{{ school.school}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xs-3">
                            <button id="deleteAllSchool" type='button' class='btn btn-warning' data-school="" disabled>Eliminar Colegio</button>
                        </div>
                    </div>

                </div>
            </div>
            <br/>
        </div>

        <div id="userList">

        </div>


    </div>
    <!-- END Page Content -->


    <!-- Modal Stats DetalleSurvey -->
    <div id="confirmModal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-recycle" style="padding-right: 5px;"></i> <span class="titleModal"></span></h4>
                </div>

                <div class="bodyModal"></div>


            </div>
        </div>
    </div>
    <!-- END Modal Stats User -->

    <!-- Modal loading -->
    <div id="loadingStats" class="modal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-body bg-primary text-center">
                    <h4 class="modal-title"><i class="fa fa-refresh fa-spin"></i> Cargando, <strong>por favor espere...</strong></h4>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal loading -->


    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{{ asset('public/assets/js/deleteUser.js')}}"></script>
    <!-- Load and execute javascript code used only in this page -->

    <script>
        //dominio http://dev.ruta.unoi.com
        var HttpHost = '{{ app.request.getSchemeAndHttpHost() }}';
        //si es /app_dev.php
        var baseUrl = '{{ app.request.getBaseURL() }}';
        //ruta en la que nos encontramos http://dev.ruta.unoi.com/app_dev.php/estadisticas
        var uri = '{{ app.request.uri }}';

        var schoolArrayG = [];
        var okSchool = true;
        var schoolId;
        var nameSchool = 'Todas las Escuelas';
        var nameSchoolArray;
        var baseUri = HttpHost+baseUrl;
        var executioner = "{{ app.session.get('personIdS') }}";

        $(function() {
            setNameSchool(nameSchool);

            $("#optionSchool").change(function () {

                if($(this).val() ){

                    nameSchoolArray = $(this).val().split('-');
                    schoolId = nameSchoolArray[0];
                    nameSchool = nameSchoolArray[1];
                    setNameSchool(nameSchool);

                    $('#userList').html('<div class="row">'+
                            '<div class="block-content">'+
                            '<div class="col-sm-12">'+

                            '<div class="text-center">'+
                            '<button class="btn btn-lg">'+
                            '<i class="fa fa-refresh fa-spin fa-3x"></i>'+
                            '<br/>'+
                            'Cargando, por favor espere...'+
                            '</button>'+
                            '<br/>'+
                            '</div>'+
                            '</div>'+
                            '</div>'+
                            '</div>');

                    $.getJSON( HttpHost+baseUrl+"/api/v0/catalog/personSchool/"+nameSchoolArray[0], function( data ) {
                        var row = '';
                        $.each( data, function( key, value ) {

                            row += '<tr>'+
                                        '<td class="text-center">'+
                                            '<img src="/public/assets/images/login/icon_niño1.png" alt="avatar" class="img-circle">'+
                                        '</td>'+
                                        '<td>'+
                                            value.user+
                                        '</td>'+
                                        '<td>'+
                                            value.nombre+
                                        '</td>'+
                                        '<td>'+
                                            value.email+
                                        '</td>'+
                                        '<td class="text-center">' +
                                            '<div class="btn-group">'+
                                                '<a href="javascript:void(0)" data-toggle="tooltip" title="Eliminar" class="btn btn-xs btn-danger" onclick="deleteUser('+value.personid+',\''+value.user+'\',\''+value.nombre+'\',executioner);"><i class="fa fa-times" aria-hidden="true"></i></a>'+
                                            '</div>'+
                                        '</td>'+
                                    '</tr>';
                        });

                        var divUsers =
                                '<div id="block-resumenT" class="block" >'+
                                    '<div class="block-title">'+
                                        '<h2>Usuarios de <strong>'+nameSchool+'</strong></h2>'+
                                    '</div>'+
                                    '<div class="row">'+
                                        '<div class="block-content">'+
                                            '<div class="col-sm-12">'+
                                                '<div class="table-responsive">'+
                                                    '<p><em>Da <b>click</b> sobre un usuario para adminstarlo</em></p>'+
                                                    '<table id="userList-datatable" class="table table-vcenter table-condensed table-bordered">'+
                                                        '<thead>'+
                                                            '<tr>'+
                                                                '<th style="width: 150px;" class="text-center"><i class="fa fa-users"></i></th>'+
                                                                '<th>User</th>'+
                                                                '<th>Nombre</th>'+
                                                                '<th>E-mail</th>'+
                                                                '<th class="text-center">Detalle</th>'+
                                                            '</tr>'+
                                                        '</thead>'+
                                                        '<tbody>'+
                                                            row+
                                                        '</tbody>'+
                                                    '</table>'+
                                                    '<br/>'+
                                                '</div>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>';
                        $('#userList').html(divUsers);
                        TablesDatatables.init();
                    });
                }
            });


            $("#optionSchool").change(function (e) {
                $("#deleteAllSchool").prop('disabled',false);
                $("#deleteAllSchool").attr("data-school",  $(this).val());
            });

            $("#deleteAllSchool").click(function (e) {
                var schoolArr = $(this).attr("data-school").split('-');

                $(".titleModal").html("Eliminar Colegio");
                $(".bodyModal").html(
                        "<div class='modal-body'>"+
                        "<div class='row'>"+
                        "<div class='col-xs-3 text-center'>" +
                        "<i class='fa fa-university fa-2x' aria-hidden='true'></i>"+
                        "</div>"+
                        "<div class='col-xs-9 text-justify'>" +
                        "¿Realmente desea Eliminar al Colegio <b>"+schoolArr[1]+"</b> y todos los Usuarios relacionados?" +
                        "</div>"+
                        "</div>"+
                        "</div>"+
                        "<div class='modal-footer'>"+
                        "<button type='button' class='btn btn-info' data-dismiss='modal'>Cancelar</button>"+
                        "<button onclick='deleteSchoolOk("+schoolArr[0]+", \""+schoolArr[1]+"\", "+executioner+")' type='button' class='btn btn-success' >Aceptar</button>"+
                        "</div>"
                );

                $("#confirmModal").modal();
            });
        });



    </script>

{% endblock %}