{% extends '::base.html.twig' %}
{% block body %}
    <link rel="stylesheet" href="https://staticmx.unoi.com/global/css/themes.css">

    <div class="content-header">
        <div class="header-section">
            <div class="row">
                <div class="col-sm-8">
                    <h1>
                        <b>Interacci&oacute;n Constructiva</b>
                    </h1>
                </div>
                <div class="col-sm-4">
                    <div class="pull-right">
                        <button type="button" class="btn btn-alt btn btn-info" onclick="window.location.href = uriBack;">Regresar</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">

                </div>
            </div>
        </div>
    </div>

    <!-- Working Tabs Block -->
    <div id="cuestionario" class="block full">
        <!-- Working Tabs Title -->
        <div class="block-title">
            <h2><strong>Interacci&oacute;n</strong> Contructiva <small style="color: darkgray;">Cuestionario</small></h2>
        </div>
        <!-- END Working Tabs Title -->

        <!-- Working Tabs Content -->
        <div class="row">
            <div class="col-xs-12">
                <!-- Block Tabs -->
                <div class="block full">
                    <!-- Block Tabs Title -->
                    <div class="block-title">
                        <ul class="nav nav-tabs" data-toggle="tabs">
                            {% for Category in questionByCategory%}
                                {% if loop.index == 1 %}
                                <li class="active"><a href="#categoryId{{ Category.categoryId }}">{{ Category.category }}</a></li>
                                {% else %}
                                <li><a href="#categoryId{{ Category.categoryId }}">{{ Category.category }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- END Block Tabs Title -->

                    <!-- Tabs Content -->
                    <div class="tab-content">
                        {% for Category in questionByCategory%}
                            {% if loop.index == 1 %}
                            <div class="tab-pane active" id="categoryId{{ Category.categoryId }}">
                            {% else %}
                            <div class="tab-pane" id="categoryId{{ Category.categoryId }}">
                            {% endif %}
                                <div class="table-responsive">
                                    <!--
                                    Available Table Classes:
                                        'table'             - basic table
                                        'table-bordered'    - table with full borders
                                        'table-borderless'  - table with no borders
                                        'table-striped'     - striped table
                                        'table-condensed'   - table with smaller top and bottom cell padding
                                        'table-hover'       - rows highlighted on mouse hover
                                        'table-vcenter'     - middle align content vertically
                                    -->
                                    <table class="table table-striped table-vcenter">
                                        <tbody>
                                        {% for Questions in Category.questions%}
                                            <tr>
                                                <td width="50%">{{ Questions.order }}. {{ Questions.question }}</td>
                                                <td width="20%">
                                                    <div class="btn-group-wrap" style="text-align: center">
                                                        <div class="btn-group" style="margin: 0 auto; text-align: center; width: inherit; display: inline-block;">
                                                            {% if Questions.interactionAnswerId %}
                                                                {% if Questions.answer == 1 %}
                                                                    <button class="btn btn-primary " data-toggle="tooltip" data-placement="top" title="Sí">
                                                                        <span class="visible-lg-inline visible-md-inline hidden-sm hidden-xs"><b>Sí</b></span>
                                                                        <span class="visible-sm-inline visible-xs-inline"><b><i class="fa fa-check"></i></b></span>
                                                                    </button>
                                                                {% else %}
                                                                    <button class="btn btn-info" data-toggle="tooltip" data-placement="top" title="No" >
                                                                        <span class="visible-lg-inline visible-md-inline hidden-sm hidden-xs"><b>No</b></span>
                                                                        <span class="visible-sm-inline visible-xs-inline"><b><i class="fa fa-times"></i></b></span>
                                                                    </button>
                                                                {% endif %}
                                                            {% else %}
                                                                <button class="btn btn-default " data-toggle="tooltip" data-placement="top" title="No Aplica">
                                                                    <span class="visible-lg-inline visible-md-inline hidden-sm hidden-xs"><b>No Aplica</b></span>
                                                                </button>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </td>
                                                <td width="30%">
                                                    <div class="form-group">
                                                        <div class="col-xs-12">
                                                            <div class="input-group">
                                                                <span id="comment-{{ Questions.questionId }}">{{ Questions.comment }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>

                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- END Tabs Content -->
                </div>
                <!-- END Block Tabs -->
            </div>
        </div>
        <!-- END Working Tabs Content -->
    </div>
    <!-- END Working Tabs Block -->


    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <script>
        //dominio http://dev.ruta.unoi.com
        var HttpHost = '{{ app.request.getSchemeAndHttpHost() }}';
        //si es /app_dev.php
        var baseUrl = '{{ app.request.baseurl }}';
        //ruta en la que nos encontramos http://dev.ruta.unoi.com/app_dev.php/observacion/crear/1
        var uri = '{{ app.request.uri }}';
        var uriArr = uri.split("/");
        var uriBack = uriArr.slice(0,uriArr.length-2).join("/");
        var interactionId = {{ interactionId }};

    </script>
{% endblock %}