{% extends '::base.mail.html.twig' %}
{% block logo %}
    <img src="{{ scheme~'://'~host~asset('public/assets/images/mail/logo_mail.png') }}" alt="UNO Internacional" width="170" height="170" style="display:block;" />
{% endblock %}
{% block body %}

    <tr bgcolor="#ffffff" style="padding: 20px 40px 10px 40px; color: #555555; font-family: Arial, sans-serif; font-size: 20px; line-height: 30px; text-align: justify;">
        <td>
            <b>Hola, {{ Director|title }}</b><br>
            <p>Este mensaje es para informarte que el Coach <strong>{{ Coach|title }}</strong> ha terminado la observacion en el aula del docente <strong>{{ Docente|title }}</strong>.</p>
        </td>
    </tr>
    <tr bgcolor="#ffffff" style="padding: 20px 40px 10px 40px; color: #555555; font-family: Arial, sans-serif; font-size: 20px; line-height: 30px; text-align: justify;">
        <td>
            <p>Perteneciente a <strong>{{ nameGrade|title }}</strong> grupo <strong>{{ groupId|title }}</strong> programa <strong>{{ nameProgram|title }}</strong></p>
        </td>
    </tr>

<br/>
{% endblock %}
{% block unsuscribe %}
    <td align="center" bgcolor="#dddddd" style="padding: 30px 40px 40px 40px; font-family: Arial, sans-serif;">
        <table bgcolor="#bbbbbb" border="0" cellspacing="0" cellpadding="0" class="buttonwrapper">
            <tr>
                <td align="center" height="50" style=" padding: 0 40px 0 40px; font-family: Arial, sans-serif; font-size: 16px; font-weight: bold;" class="buttonunsuscribe">
                    <a href="{{ scheme~'://'~host~'/mailing/disable/'~school }}" style="color: #ffffff; text-align: center; text-decoration: none;">Dejar de recibir</a>
                </td>
            </tr>
        </table>
    </td>
{% endblock %}