{% extends '::base2.mail.html.twig' %}
{% block body %}
    <h3>Hola, <b>{{ name }}</b></h3>
    <br>
    <p>Recientemente, se ha creado una nueva evaluación que debes responder:</p>
    <br>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="text-center"><b>Título</b></th>
            <th class="text-center"><b>Fecha límite de respuesta</b></th>
            <th class="text-center"><b>Acciones</b></th>
        </tr>
        </thead>
        <tbody>
            {% for survey in surveys%}
                <tr>
                    <td class="text-left">
                        {{ survey['titulo'] }}
                    </td>
                    <td class="text-center">
                        {{ survey['fechacierre']['date']|date('j/M/Y \@ g:i a') }}
                    </td>
                    <td class="text-center">
                        {#<a href="{{ absolute_url(path('responder',{'id': survey['id']})) }}" class="btn btn-xs btn-success has-tip" style="width: 85px;">Responder</a>#}
                        <a href="{{ scheme~'://'~host~'/responder/'~survey['id'] }}" class="btn btn-xs btn-success has-tip" style="width: 85px;">Responder</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <div class="row text-center">
        <h5>Para responderla ahora, haz click en el botón de responder de una evaluación, o si lo prefieres, ingresa a <a href="//ruta.unoi.com/listar">Ruta UNOi</a> para ver tu lista de evaluaciones</h5>
        {#<a href="{{ absolute_url(path('listar')) }}" class="btn btn-sm btn-info"> {{ "Ver mi lista" }}</a>#}
        <a href="{{ scheme~'://'~host~'/listar' }}" class="btn btn-sm btn-info"> {{ "Ver mi lista" }}</a>

    </div>
    <br>
{% endblock %}
{% block unsuscribe %}
    <div class="row text-center">
        <h5>{{ "Si deseas dejar de recibir mensajes, haz click en el siguiente botón" }}</h5>
        {#<a href="{{ absolute_url(path('urlDisableNotifications',{'personid': persona})) }}" class="btn btn-sm btn-danger"> {{ "Dejar de recibir mensajes" }}</a>#}
        <a href="{{ scheme~'://'~host~'/mailing/disable/'~persona }}" class="btn btn-sm btn-danger"> {{ "Dejar de recibir mensajes" }}</a>
    </div>
{% endblock %}