{% extends '::base.mail.html.twig' %}
{% block logo %}
    <img src="{{ scheme~'://'~host~asset('public/assets/images/mail/logo_mail.png') }}" alt="UNO Internacional" width="170" height="170" style="display:block;" />
{% endblock %}
{% block body %}
    <tr>
        <td bgcolor="#ffffff" style="padding: 20px 40px 10px 40px; color: #555555; font-family: Arial, sans-serif; font-size: 20px; line-height: 30px; text-align: justify;">
            <b>Hola, {{ name|title }}</b><br>
            <p>Te presentamos un resumen semanal de tus acciones y las de tu colegio <b>{{ escuela|title }}</b> en la Plataforma de Diagnóstico Institucional de UNOi.</p><br>
        </td>
    </tr>
    <tr>
        <td bgcolor="#1ec1b8" style="padding: 0; color: #ffffff; font-family: Arial, sans-serif; font-size: 20px; line-height: 50px; text-align: center;">
            <b>Estadísticas generales</b>
        </td>
    </tr>
    <tr>
        <td bgcolor="#ffffff" style="padding: 10px 40px 0 40px;">
            <table align="left" border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                <tr>
                    <td height="96">
                        <img src="{{ scheme~'://'~host~asset('public/assets/images/mail/progress.png') }}" width="48" height="48" style="display: inline-block;" />
                    </td>
                    <td height="96" style="color: #555555; font-family: Arial, sans-serif; font-size: 20px; text-align: left;">
                        <b>Avance de mi colegio:</b> <b style="color: #1ec1b8;">{{ progressSchool['global']['Stats'][0]['y'] ~ '%' }}</b>
                    </td>
                </tr>
                <tr>
                    <td height="96">
                        <img src="{{ scheme~'://'~host~asset('public/assets/images/mail/pending.png') }}" width="48" height="48" style="display: inline-block;" />
                    </td>
                    <td height="96" style="color: #555555; font-family: Arial, sans-serif; font-size: 20px; text-align: left;">
                        <b>Avance pendiente de mi colegio:</b> <b style="color: #1ec1b8;">{{ progressSchool['global']['Stats'][1]['y'] ~ '%' }}</b>
                    </td>
                </tr>
                <tr>
                    <td height="96">
                        <img src="{{ scheme~'://'~host~asset('public/assets/images/mail/personalProgress.png') }}" width="48" height="48" style="display: inline-block;" />
                    </td>
                    <td height="96" style="color: #555555; font-family: Arial, sans-serif; font-size: 20px; text-align: left;">
                        <b>Avance personal:</b> <b style="color: #1ec1b8;">{{ progressPerson['global']['Stats'][0]['y'] ~ '%' }}</b>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <br>
    <tr>
        <td bgcolor="#1ec1b8" style="padding: 0; color: #ffffff; font-family: Arial, sans-serif; font-size: 20px; line-height: 50px; text-align: center;">
            <b>Avance por evaluación</b>
        </td>
    </tr>
    <tr>
        <td bgcolor="#ffffff" style="padding: 10px 40px 0 40px;">
            <table align="left" style="padding: 10px 0 10px 0; width: 100%; text-align: left;">
                {% for survey in progressSchool['bySurvey']%}
                    <tr style="padding: 10px 0 10px 0; margin-bottom: 10px; margin-top: 10px;">
                        <td height="54" style="color: #555555; font-family: Arial, sans-serif; font-size: 15px;">
                            <b>{{ survey['Titulo'] }}</b><br><br>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ survey['Stats'][0]['y'] }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ survey['Stats'][0]['y']}}% "></div>
                            </div>
                        </td>
                        <td height="54" style="color: #555555; font-family: Arial, sans-serif; font-size: 15px; text-align: center;">
                            <br>{{ survey['Stats'][0]['y'] ~ '%'}}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
    <br>
    {% if top5['pendiente']|length > 0 %}
        <tr>
            <td bgcolor="#1ec1b8" style="padding: 0; color: #ffffff; font-family: Arial, sans-serif; font-size: 20px; line-height: 50px; text-align: center;">
                <b>Progreso pendiente por persona</b>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff" style="padding: 10px 40px 0 40px;">
                <table align="left" style="padding: 10px; width: 100%; text-align: left; margin-right: 10px">
                    {% for pend in top5['pendiente']%}
                        <tr>
                            <td height="48" style="color: #555555; font-family: Arial, sans-serif; font-size: 15px; border-bottom: 1px solid #ddd;">
                                <b>{{ pend['nombre'] | title }}</b>
                            </td>
                            <td height="48" style="color: #555555; font-family: Arial, sans-serif; font-size: 15px; border-bottom: 1px solid #ddd; text-align: left;">
                                {{ (100-pend['avance'])|round(1,'floor') ~ '%' }}
                            </td>
                            <td height="48" style="color: #555555; font-family: Arial, sans-serif; font-size: 15px; border-bottom: 1px solid #ddd; margin-left: 10px">
                                {{ pend['email'] ? pend['email'] : 'No disponible' }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    {% endif %}
    <br>
    <tr>
        <td align="center" bgcolor="#f9f9f9" style="padding: 30px 20px 30px 20px; font-family: Arial, sans-serif;">
            <table bgcolor="#1ec1b8" border="0" cellspacing="0" cellpadding="0" class="buttonwrapper">
                <tr>
                    <td align="center" height="50" style=" padding: 0 25px 0 25px; font-family: Arial, sans-serif; font-size: 16px; font-weight: bold;" class="button">
                        <a href="{{ scheme~'://'~host~'/estadisticas' }}" style="color: #ffffff; text-align: center; text-decoration: none;">Ver más detalles</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}
{% block unsuscribe %}
    <td align="center" bgcolor="#dddddd" style="padding: 30px 40px 30px 40px; font-family: Arial, sans-serif;">
        <table bgcolor="#bbbbbb" border="0" cellspacing="0" cellpadding="0" class="buttonwrapper">
            <tr>
                <td align="center" height="50" style=" padding: 0 40px 0 40px; font-family: Arial, sans-serif; font-size: 16px; font-weight: bold;" class="buttonunsuscribe">
                    <a href="{{ scheme~'://'~host~'/mailing/disable/'~persona }}" style="color: #ffffff; text-align: center; text-decoration: none;">Dejar de recibir</a>
                </td>
            </tr>
        </table>
    </td>
{% endblock %}